In [1]:
import pandas as pd
import numpy as np

In [2]:
path = 'C:/Users/jorge/OneDrive/Escritorio/ProyectoJacobo/Envipe2017/tper_vic2_envipe2017/conjunto_de_datos/tper_vic2.csv'
df_tper_vic2 = pd.read_csv(path, low_memory=False)
df_tper_vic2.head()

,UPM,VIV_SEL,HOGAR,RESUL_H,R_SEL,SEXO,EDAD,AREAM,CVE_ENT,NOM_ENT,...,AP7_3_15,AP7_4_15,FAC_HOG,FAC_ELE,FAC_HOG_AM,FAC_ELE_AM,DOMINIO,ESTRATO,EST_DIS,UPM_DIS
0,100008,1,1,B\r,1,1,40,14\r,1,Aguascalientes\r,...,2,\r,204,408,000204\r,000408\r,U\r,4,3,1
1,100008,2,1,B\r,2,2,70,14\r,1,Aguascalientes\r,...,2,\r,204,611,000204\r,000611\r,U\r,4,3,1
2,100008,4,1,B\r,1,1,85,14\r,1,Aguascalientes\r,...,2,\r,204,408,000204\r,000408\r,U\r,4,3,1
3,100008,5,1,A\r,1,1,28,14\r,1,Aguascalientes\r,...,2,\r,204,408,000204\r,000408\r,U\r,4,3,1
4,100022,1,1,A\r,3,1,22,14\r,1,Aguascalientes\r,...,2,\r,198,595,000198\r,000595\r,U\r,3,2,2

In [3]:
df_tper_vic2.shape

(92551, 146)

In [4]:
df_copy_tper_vic2 = df_tper_vic2

In [5]:
df_copy_tper_vic2.shape

(92551, 146)

In [6]:
df_copy_tper_vic2.UPM.value_counts()

1660705    25
3160043    25
1107605    25
2061768    25
702498     24
1702010    24
2504344    24
1860460    24
300906     24
2504746    24
1410019    24
360082     24
2701840    24
2260397    24
1604703    24
2505095    24
1760256    24
1161260    24
2960175    23
3201405    23
1604730    23
1108234    23
2260596    23
3202042    23
1604586    23
2560561    23
2860612    23
1527245    23
1660619    23
2260201    23
           ..
3006647     1
1508481     1
203613      1
1528990     1
2302623     1
1100565     1
1403984     1
3003742     1
601201      1
1701757     1
1700809     1
2201591     1
2102027     1
2801872     1
2801150     1
1414866     1
2700351     1
1201665     1
800127      1
1514922     1
901337      1
504897      1
3003239     1
1201604     1
2700440     1
2302397     1
600772      1
1908380     1
1501665     1
600475      1
Name: UPM, Length: 13195, dtype: int64

In [7]:
df_copy_tper_vic2.VIV_SEL.value_counts()

1     11973
3     11909
5     11872
4     11848
2     11843
12     2235
10     2227
13     2222
9      2221
6      2212
7      2210
14     2209
8      2203
11     2201
16     2193
17     2192
18     2183
15     2176
19     2158
20     2052
21      156
22       41
23       13
24        1
25        1
Name: VIV_SEL, dtype: int64

In [8]:
df_copy_tper_vic2.HOGAR.value_counts()

1    90584
2     1694
3      227
4       38
5        6
6        2
Name: HOGAR, dtype: int64

In [9]:
df_copy_tper_vic2.RESUL_H.value_counts()

B\r    66321
A\r    26230
Name: RESUL_H, dtype: int64

In [10]:
df_copy_tper_vic2.RESUL_H.replace({'A\r':'A', 'B\r':'B' },inplace=True)
df_copy_tper_vic2.RESUL_H.value_counts()

B    66321
A    26230
Name: RESUL_H, dtype: int64

In [11]:
df_copy_tper_vic2.R_SEL.value_counts()

1     46700
2     31392
3      9053
4      3508
5      1215
6       391
7       154
8        73
9        32
10       19
11        9
15        2
14        2
12        1
Name: R_SEL, dtype: int64

In [12]:
df_copy_tper_vic2.SEXO.value_counts()

2    49821
1    42730
Name: SEXO, dtype: int64

In [13]:
df_copy_tper_vic2.EDAD.value_counts()

30    2435
40    2391
32    2302
38    2296
36    2279
42    2195
34    2130
35    2125
37    2073
33    2029
26    2015
22    2009
25    1989
28    1988
23    1980
27    1961
39    1949
43    1944
24    1924
18    1904
20    1853
29    1831
21    1817
50    1803
19    1756
45    1756
31    1746
46    1643
41    1638
44    1608
      ...
68     791
72     667
69     622
73     570
98     561
74     509
76     500
75     466
71     450
77     437
78     402
80     385
79     291
82     257
83     255
81     246
84     227
85     218
86     169
87     133
88     104
89      86
90      78
92      55
97      44
91      35
93      33
94      29
95      26
96      19
Name: EDAD, Length: 81, dtype: int64

In [14]:
df_copy_tper_vic2.EDAD.replace({98:99, 99:99 },inplace=True)
df_copy_tper_vic2.EDAD.value_counts()

30    2435
40    2391
32    2302
38    2296
36    2279
42    2195
34    2130
35    2125
37    2073
33    2029
26    2015
22    2009
25    1989
28    1988
23    1980
27    1961
39    1949
43    1944
24    1924
18    1904
20    1853
29    1831
21    1817
50    1803
19    1756
45    1756
31    1746
46    1643
41    1638
44    1608
      ...
68     791
72     667
69     622
73     570
99     561
74     509
76     500
75     466
71     450
77     437
78     402
80     385
79     291
82     257
83     255
81     246
84     227
85     218
86     169
87     133
88     104
89      86
90      78
92      55
97      44
91      35
93      33
94      29
95      26
96      19
Name: EDAD, Length: 81, dtype: int64

In [15]:
df_copy_tper_vic2.AREAM.value_counts()

\r      57125
01\r     7768
03\r     2067
06\r     1759
08\r     1535
02\r     1361
39\r     1261
33\r     1238
41\r     1234
04\r     1229
14\r     1214
36\r     1173
21\r     1124
29\r     1093
40\r      901
24\r      863
26\r      858
10\r      773
28\r      686
07\r      672
09\r      661
27\r      631
17\r      619
05\r      581
18\r      534
25\r      510
13\r      507
15\r      505
19\r      495
43\r      377
31\r      359
32\r      327
12\r      316
16\r      195
Name: AREAM, dtype: int64

In [16]:
#l=[]
#for i in df_copy_tper_vic2.AREAM:
 #   k = str(i)
  #  if(k != "nan"):
   #     k = int(eval(k))
    #    l.append(k)
    #else:
     #   l.append(k)
#df_copy_tper_vic2.AREAM = l
#df_copy_tper_vic2.AREAM.value_counts()

In [17]:
df_copy_tper_vic2.AREAM.replace({'\r':'99'} , inplace = True)
df_copy_tper_vic2.AREAM =  df_copy_tper_vic2.AREAM.replace('\r', "", regex = True)
df_copy_tper_vic2.AREAM.value_counts()

99    57125
01     7768
03     2067
06     1759
08     1535
02     1361
39     1261
33     1238
41     1234
04     1229
14     1214
36     1173
21     1124
29     1093
40      901
24      863
26      858
10      773
28      686
07      672
09      661
27      631
17      619
05      581
18      534
25      510
13      507
15      505
19      495
43      377
31      359
32      327
12      316
16      195
Name: AREAM, dtype: int64

In [18]:
dicc = {9:99}

In [19]:
df_copy_tper_vic2.AP6_1_1.replace(dicc, inplace = True)
df_copy_tper_vic2.AP6_1_1.value_counts()

2     51364
1     40958
99      229
Name: AP6_1_1, dtype: int64

In [20]:
df_copy_tper_vic2.AP6_1_2.replace({'\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_1_2 =  df_copy_tper_vic2.AREAM.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_1_2.value_counts()

99    57125
01     7768
03     2067
06     1759
08     1535
02     1361
39     1261
33     1238
41     1234
04     1229
14     1214
36     1173
21     1124
29     1093
40      901
24      863
26      858
10      773
28      686
07      672
09      661
27      631
17      619
05      581
18      534
25      510
13      507
15      505
19      495
43      377
31      359
32      327
12      316
16      195
Name: AP6_1_2, dtype: int64

In [21]:
df_copy_tper_vic2.AP6_2.replace(dicc, inplace = True)
df_copy_tper_vic2.AP6_2.value_counts()

2     56289
1     36211
99       51
Name: AP6_2, dtype: int64

In [22]:
df_copy_tper_vic2.AP6_3.replace(dicc, inplace = True)
df_copy_tper_vic2.AP6_3.value_counts()

2     79095
1     13406
99       50
Name: AP6_3, dtype: int64

In [23]:
df_copy_tper_vic2.AP6_4_01.replace(dicc, inplace = True)
df_copy_tper_vic2.AP6_4_01.value_counts()

2     90976
1      1551
99       24
Name: AP6_4_01, dtype: int64

In [24]:
dicc2 = {'\r':'99','1\r':'1','2\r':'2','9\r':'99'}

In [25]:
df_copy_tper_vic2.AP6_5_01.replace(dicc2, inplace = True)
df_copy_tper_vic2.AP6_5_01.value_counts()

99    91027
1      1058
2       466
Name: AP6_5_01, dtype: int64

In [26]:
df_copy_tper_vic2.AP6_6_01.replace({'\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_6_01 =  df_copy_tper_vic2.AP6_6_01.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_6_01.value_counts()

99    91493
01     1019
02       31
03        7
04        1
Name: AP6_6_01, dtype: int64

In [27]:
df_copy_tper_vic2.AP6_4_02.replace(dicc, inplace = True)
df_copy_tper_vic2.AP6_4_02.value_counts()

2     86093
1      6435
99       23
Name: AP6_4_02, dtype: int64

In [28]:
df_copy_tper_vic2.AP6_5_02.replace(dicc2, inplace = True)
df_copy_tper_vic2.AP6_5_02.value_counts()

99    86162
1      5782
2       607
Name: AP6_5_02, dtype: int64

In [29]:
df_copy_tper_vic2.AP6_6_02.replace({'\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_6_02 =  df_copy_tper_vic2.AP6_6_02.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_6_02.value_counts()

99    86769
01     4525
02      931
03      244
04       54
05       15
06        7
10        2
07        1
11        1
15        1
08        1
Name: AP6_6_02, dtype: int64

In [30]:
df_copy_tper_vic2.AP6_4_03.replace(dicc, inplace = True)
df_copy_tper_vic2.AP6_4_03.value_counts()

2     87298
1      5174
99       79
Name: AP6_4_03, dtype: int64

In [31]:
df_copy_tper_vic2.AP6_6_03.replace({'\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_6_03 =  df_copy_tper_vic2.AP6_6_03.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_6_03.value_counts()

99    87377
01     4228
02      637
03      188
04       53
05       42
10        8
06        6
15        4
12        3
08        3
07        2
Name: AP6_6_03, dtype: int64

In [32]:
df_copy_tper_vic2.AP6_4_04.replace(dicc, inplace = True)
df_copy_tper_vic2.AP6_4_04.value_counts()

2     87608
1      4835
99      108
Name: AP6_4_04, dtype: int64

In [33]:
df_copy_tper_vic2.AP6_6_04.replace({'\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_6_04 =  df_copy_tper_vic2.AP6_6_04.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_6_04.value_counts()

99    87716
01     4147
02      497
03      133
04       31
05       18
15        2
08        2
12        1
07        1
30        1
40        1
06        1
Name: AP6_6_04, dtype: int64

In [34]:
df_copy_tper_vic2.AP6_7.replace(dicc, inplace = True)
df_copy_tper_vic2.AP6_7.value_counts()

2     70087
1     22426
99       38
Name: AP6_7, dtype: int64

In [35]:
df_copy_tper_vic2.AP6_8.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_8 =  df_copy_tper_vic2.AP6_8.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_8.value_counts()

99    64830
2     24260
1      2034
3      1427
Name: AP6_8, dtype: int64

In [36]:
df_copy_tper_vic2.AP6_9.replace(dicc, inplace = True)
df_copy_tper_vic2.AP6_9.value_counts()

2     91555
1       947
99       49
Name: AP6_9, dtype: int64

In [37]:
df_copy_tper_vic2.AP6_10_1.replace(dicc, inplace = True)
df_copy_tper_vic2.AP6_10_1.value_counts()

2     92355
1       154
99       42
Name: AP6_10_1, dtype: int64

In [38]:
df_copy_tper_vic2.AP6_10_2.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_10_2 =  df_copy_tper_vic2.AP6_10_2.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_10_2.value_counts()

99    92397
01      135
02       15
03        2
05        1
06        1
Name: AP6_10_2, dtype: int64

In [39]:
df_copy_tper_vic2.AP6_11_1.replace(dicc2, inplace = True)
df_copy_tper_vic2.AP6_11_1.value_counts()

99    92397
1       137
2        17
Name: AP6_11_1, dtype: int64

In [40]:
df_copy_tper_vic2.AP6_12_1.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_12_1 =  df_copy_tper_vic2.AP6_12_1.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_12_1.value_counts()

99    92414
1       132
2         4
3         1
Name: AP6_12_1, dtype: int64

In [41]:
df_copy_tper_vic2.AP6_13_1_1.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_13_1_1 =  df_copy_tper_vic2.AP6_13_1_1.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_13_1_1.value_counts()

99    92415
1        89
2        30
3         8
5         4
4         3
6         2
Name: AP6_13_1_1, dtype: int64

In [42]:
df_copy_tper_vic2.AP6_13_1_2.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_13_1_2 =  df_copy_tper_vic2.AP6_13_1_2.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_13_1_2.value_counts()

99    92546
1         5
Name: AP6_13_1_2, dtype: int64

In [43]:
df_copy_tper_vic2.AP6_13_1_3.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_13_1_3 =  df_copy_tper_vic2.AP6_13_1_3.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_13_1_3.value_counts()

99    92550
1         1
Name: AP6_13_1_3, dtype: int64

In [44]:
df_copy_tper_vic2.AP6_13_1_4.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_13_1_4 =  df_copy_tper_vic2.AP6_13_1_4.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_13_1_4.value_counts()

99    92551
Name: AP6_13_1_4, dtype: int64

In [45]:
df_copy_tper_vic2.AP6_11_2.replace(dicc2, inplace = True)
df_copy_tper_vic2.AP6_11_2.value_counts()

99    92532
1        15
2         4
Name: AP6_11_2, dtype: int64

In [46]:
df_copy_tper_vic2.AP6_12_2.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_12_2 =  df_copy_tper_vic2.AP6_12_2.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_12_2.value_counts()

99    92536
1        15
Name: AP6_12_2, dtype: int64

In [47]:
df_copy_tper_vic2.AP6_13_2_1.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_13_2_1 =  df_copy_tper_vic2.AP6_13_2_1.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_13_2_1.value_counts()

99    92536
1        11
2         2
4         1
3         1
Name: AP6_13_2_1, dtype: int64

In [48]:
df_copy_tper_vic2.AP6_13_2_2.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_13_2_2 =  df_copy_tper_vic2.AP6_13_2_2.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_13_2_2.value_counts()

99    92551
Name: AP6_13_2_2, dtype: int64

In [49]:
df_copy_tper_vic2.AP6_13_2_3.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_13_2_3 =  df_copy_tper_vic2.AP6_13_2_3.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_13_2_3.value_counts()

99    92551
Name: AP6_13_2_3, dtype: int64

In [50]:
df_copy_tper_vic2.AP6_13_2_4.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_13_2_4 =  df_copy_tper_vic2.AP6_13_2_4.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_13_2_4.value_counts()

99    92551
Name: AP6_13_2_4, dtype: int64

In [51]:
df_copy_tper_vic2.AP6_11_3.replace(dicc2, inplace = True)
df_copy_tper_vic2.AP6_11_3.value_counts()

99    92547
1         3
2         1
Name: AP6_11_3, dtype: int64

In [52]:
df_copy_tper_vic2.AP6_12_3.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_12_3 =  df_copy_tper_vic2.AP6_12_3.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_12_3.value_counts()

99    92548
1         3
Name: AP6_12_3, dtype: int64

In [53]:
df_copy_tper_vic2.AP6_11_4.replace(dicc2, inplace = True)
df_copy_tper_vic2.AP6_11_4.value_counts()

99    92549
2         1
1         1
Name: AP6_11_4, dtype: int64

In [54]:
df_copy_tper_vic2.AP6_11_5.replace(dicc2, inplace = True)
df_copy_tper_vic2.AP6_11_5.value_counts()

99    92549
2         1
1         1
Name: AP6_11_5, dtype: int64

In [55]:
df_copy_tper_vic2.AP6_11_6.replace(dicc2, inplace = True)
df_copy_tper_vic2.AP6_11_6.value_counts()

99    92550
1         1
Name: AP6_11_6, dtype: int64

In [56]:
df_copy_tper_vic2.AP6_11_7.replace(dicc2, inplace = True)
df_copy_tper_vic2.AP6_11_7.value_counts()

99    92551
Name: AP6_11_7, dtype: int64

In [57]:
df_copy_tper_vic2.AP6_12_4.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_12_4 =  df_copy_tper_vic2.AP6_12_4.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_12_4.value_counts()

99    92550
1         1
Name: AP6_12_4, dtype: int64

In [58]:
df_copy_tper_vic2.AP6_12_5.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_12_5 =  df_copy_tper_vic2.AP6_12_5.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_12_5.value_counts()

99    92550
1         1
Name: AP6_12_5, dtype: int64

In [59]:
df_copy_tper_vic2.AP6_12_6.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_12_6 =  df_copy_tper_vic2.AP6_12_6.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_12_6.value_counts()

99    92550
1         1
Name: AP6_12_6, dtype: int64

In [60]:
df_copy_tper_vic2.AP6_12_7.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_12_7 =  df_copy_tper_vic2.AP6_12_7.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_12_7.value_counts()

99    92551
Name: AP6_12_7, dtype: int64

In [61]:
df_copy_tper_vic2.AP6_13_3_1.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_13_3_1 =  df_copy_tper_vic2.AP6_13_3_1.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_13_3_1.value_counts()

99    92548
2         1
1         1
3         1
Name: AP6_13_3_1, dtype: int64

In [62]:
df_copy_tper_vic2.AP6_13_3_2.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_13_3_2 =  df_copy_tper_vic2.AP6_13_3_2.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_13_3_2.value_counts()

99    92551
Name: AP6_13_3_2, dtype: int64

In [63]:
df_copy_tper_vic2.AP6_13_3_3.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_13_3_3 =  df_copy_tper_vic2.AP6_13_3_3.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_13_3_3.value_counts()

99    92551
Name: AP6_13_3_3, dtype: int64

In [64]:
df_copy_tper_vic2.AP6_13_3_4.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_13_3_4 =  df_copy_tper_vic2.AP6_13_3_4.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_13_3_4.value_counts()

99    92551
Name: AP6_13_3_4, dtype: int64

In [65]:
df_copy_tper_vic2.AP6_13_4_1.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_13_4_1 =  df_copy_tper_vic2.AP6_13_4_1.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_13_4_1.value_counts()

99    92550
2         1
Name: AP6_13_4_1, dtype: int64

In [66]:
df_copy_tper_vic2.AP6_13_5_1.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_13_5_1 =  df_copy_tper_vic2.AP6_13_5_1.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_13_5_1.value_counts()

99    92550
2         1
Name: AP6_13_5_1, dtype: int64

In [67]:
df_copy_tper_vic2.AP6_13_6_1.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_13_6_1 =  df_copy_tper_vic2.AP6_13_6_1.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_13_6_1.value_counts()

99    92550
2         1
Name: AP6_13_6_1, dtype: int64

In [68]:
df_copy_tper_vic2.AP6_13_7_1.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_13_7_1 =  df_copy_tper_vic2.AP6_13_7_1.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_13_7_1.value_counts()

99    92551
Name: AP6_13_7_1, dtype: int64

In [69]:
df_copy_tper_vic2.AP6_13_4_2.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_13_4_2 =  df_copy_tper_vic2.AP6_13_4_2.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_13_4_2.value_counts()

99    92551
Name: AP6_13_4_2, dtype: int64

In [70]:
df_copy_tper_vic2.AP6_13_5_2.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_13_5_2 =  df_copy_tper_vic2.AP6_13_5_2.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_13_5_2.value_counts()

99    92551
Name: AP6_13_5_2, dtype: int64

In [71]:
df_copy_tper_vic2.AP6_13_6_2.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_13_6_2 =  df_copy_tper_vic2.AP6_13_6_2.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_13_6_2.value_counts()

99    92551
Name: AP6_13_6_2, dtype: int64

In [72]:
df_copy_tper_vic2.AP6_13_7_2.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_13_7_2 =  df_copy_tper_vic2.AP6_13_7_2.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_13_7_2.value_counts()

99    92551
Name: AP6_13_7_2, dtype: int64

In [73]:
df_copy_tper_vic2.AP6_13_4_3.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_13_4_3 =  df_copy_tper_vic2.AP6_13_4_3.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_13_4_3.value_counts()

99    92551
Name: AP6_13_4_3, dtype: int64

In [74]:
df_copy_tper_vic2.AP6_13_5_3.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_13_5_3 =  df_copy_tper_vic2.AP6_13_5_3.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_13_5_3.value_counts()

99    92551
Name: AP6_13_5_3, dtype: int64

In [75]:
df_copy_tper_vic2.AP6_13_6_3.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_13_6_3 =  df_copy_tper_vic2.AP6_13_6_3.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_13_6_3.value_counts()

99    92551
Name: AP6_13_6_3, dtype: int64

In [76]:
df_copy_tper_vic2.AP6_13_7_3.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_13_7_3 =  df_copy_tper_vic2.AP6_13_7_3.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_13_7_3.value_counts()

99    92551
Name: AP6_13_7_3, dtype: int64

In [77]:
df_copy_tper_vic2.AP6_13_4_4.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_13_4_4 =  df_copy_tper_vic2.AP6_13_4_4.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_13_4_4.value_counts()

99    92551
Name: AP6_13_4_4, dtype: int64

In [78]:
df_copy_tper_vic2.AP6_13_5_4.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_13_5_4 =  df_copy_tper_vic2.AP6_13_5_4.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_13_5_4.value_counts()

99    92551
Name: AP6_13_5_4, dtype: int64

In [79]:
df_copy_tper_vic2.AP6_13_6_4.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_13_6_4 =  df_copy_tper_vic2.AP6_13_6_4.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_13_6_4.value_counts()

99    92551
Name: AP6_13_6_4, dtype: int64

In [80]:
df_copy_tper_vic2.AP6_13_7_4.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_13_7_4 =  df_copy_tper_vic2.AP6_13_7_4.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_13_7_4.value_counts()

99    92551
Name: AP6_13_7_4, dtype: int64

In [81]:
df_copy_tper_vic2.AP6_14.replace(dicc, inplace = True)
df_copy_tper_vic2.AP6_14.value_counts()

2     91989
1       506
99       56
Name: AP6_14, dtype: int64

In [82]:
df_copy_tper_vic2.AP6_15_1.replace(dicc, inplace = True)
df_copy_tper_vic2.AP6_15_1.value_counts()

2     92429
1        72
99       50
Name: AP6_15_1, dtype: int64

In [83]:
df_copy_tper_vic2.AP6_15_2.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_15_2 =  df_copy_tper_vic2.AP6_15_2.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_15_2.value_counts()

99    92479
01       68
02        3
03        1
Name: AP6_15_2, dtype: int64

In [84]:
df_copy_tper_vic2.AP6_16_1.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_16_1 =  df_copy_tper_vic2.AP6_16_1.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_16_1.value_counts()

99    92479
1        65
2         7
Name: AP6_16_1, dtype: int64

In [85]:
df_copy_tper_vic2.AP6_16_2.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_16_2 =  df_copy_tper_vic2.AP6_16_2.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_16_2.value_counts()

99    92547
1         3
2         1
Name: AP6_16_2, dtype: int64

In [86]:
df_copy_tper_vic2.AP6_16_3.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_16_3 =  df_copy_tper_vic2.AP6_16_3.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_16_3.value_counts()

99    92550
2         1
Name: AP6_16_3, dtype: int64

In [87]:
df_copy_tper_vic2.AP6_16_3.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_16_3 =  df_copy_tper_vic2.AP6_16_3.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_16_3.value_counts()

99    92550
2         1
Name: AP6_16_3, dtype: int64

In [88]:
df_copy_tper_vic2.AP6_16_4.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_16_4 =  df_copy_tper_vic2.AP6_16_4.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_16_4.value_counts()

99    92551
Name: AP6_16_4, dtype: int64

In [89]:
df_copy_tper_vic2.AP6_16_5.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_16_5 =  df_copy_tper_vic2.AP6_16_5.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_16_5.value_counts()

99    92551
Name: AP6_16_5, dtype: int64

In [90]:
df_copy_tper_vic2.AP6_16_6.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_16_6 =  df_copy_tper_vic2.AP6_16_6.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_16_6.value_counts()

99    92551
Name: AP6_16_6, dtype: int64

In [91]:
df_copy_tper_vic2.AP6_16_7.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_16_7 =  df_copy_tper_vic2.AP6_16_7.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_16_7.value_counts()

99    92551
Name: AP6_16_7, dtype: int64

In [92]:
df_copy_tper_vic2.AP6_17_1.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_17_1 =  df_copy_tper_vic2.AP6_17_1.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_17_1.value_counts()

99    92486
1        46
2        10
3         9
Name: AP6_17_1, dtype: int64

In [93]:
df_copy_tper_vic2.AP6_17_2.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_17_2 =  df_copy_tper_vic2.AP6_17_2.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_17_2.value_counts()

99    92548
1         3
Name: AP6_17_2, dtype: int64

In [94]:
df_copy_tper_vic2.AP6_17_3.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_17_3 =  df_copy_tper_vic2.AP6_17_3.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_17_3.value_counts()

99    92551
Name: AP6_17_3, dtype: int64

In [95]:
df_copy_tper_vic2.AP6_17_4.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_17_4 =  df_copy_tper_vic2.AP6_17_4.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_17_4.value_counts()

99    92551
Name: AP6_17_4, dtype: int64

In [96]:
df_copy_tper_vic2.AP6_17_5.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_17_5 =  df_copy_tper_vic2.AP6_17_5.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_17_5.value_counts()

99    92551
Name: AP6_17_5, dtype: int64

In [97]:
df_copy_tper_vic2.AP6_17_6.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_17_6 =  df_copy_tper_vic2.AP6_17_6.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_17_6.value_counts()

99    92551
Name: AP6_17_6, dtype: int64

In [98]:
df_copy_tper_vic2.AP6_17_7.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_17_7 =  df_copy_tper_vic2.AP6_17_7.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_17_7.value_counts()

99    92551
Name: AP6_17_7, dtype: int64

In [99]:
df_copy_tper_vic2.AP6_18_1.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_18_1 =  df_copy_tper_vic2.AP6_18_1.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_18_1.value_counts()

99    92544
1         7
Name: AP6_18_1, dtype: int64

In [100]:
df_copy_tper_vic2.AP6_18_2.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_18_2 =  df_copy_tper_vic2.AP6_18_2.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_18_2.value_counts()

99    92551
Name: AP6_18_2, dtype: int64

In [101]:
df_copy_tper_vic2.AP6_18_3.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_18_3 =  df_copy_tper_vic2.AP6_18_3.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_18_3.value_counts()

99    92551
Name: AP6_18_3, dtype: int64

In [102]:
df_copy_tper_vic2.AP6_18_4.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_18_4 =  df_copy_tper_vic2.AP6_18_4.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_18_4.value_counts()

99    92551
Name: AP6_18_4, dtype: int64

In [103]:
df_copy_tper_vic2.AP6_18_5.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_18_5 =  df_copy_tper_vic2.AP6_18_5.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_18_5.value_counts()

99    92551
Name: AP6_18_5, dtype: int64

In [104]:
df_copy_tper_vic2.AP6_18_6.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_18_6 =  df_copy_tper_vic2.AP6_18_6.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_18_6.value_counts()

99    92551
Name: AP6_18_6, dtype: int64

In [105]:
df_copy_tper_vic2.AP6_18_7.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_18_7 =  df_copy_tper_vic2.AP6_18_7.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_18_7.value_counts()

99    92551
Name: AP6_18_7, dtype: int64

In [106]:
df_copy_tper_vic2.AP6_19.replace(dicc, inplace = True)
df_copy_tper_vic2.AP6_19.value_counts()

2     91926
1       567
99       58
Name: AP6_19, dtype: int64

In [107]:
df_copy_tper_vic2.AP6_20_1.replace(dicc, inplace = True)
df_copy_tper_vic2.AP6_20_1.value_counts()

2     92433
1        69
99       49
Name: AP6_20_1, dtype: int64

In [108]:
df_copy_tper_vic2.AP6_20_2.value_counts()

\r      92482
01\r       66
02\r        2
03\r        1
Name: AP6_20_2, dtype: int64

In [109]:
df_copy_tper_vic2.AP6_20_2.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_20_2 =  df_copy_tper_vic2.AP6_20_2.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_20_2.value_counts()

99    92482
01       66
02        2
03        1
Name: AP6_20_2, dtype: int64

In [110]:
df_copy_tper_vic2.AP6_21_1.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_21_1 =  df_copy_tper_vic2.AP6_21_1.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_21_1.value_counts()

99    92483
1        57
2        11
Name: AP6_21_1, dtype: int64

In [111]:
df_copy_tper_vic2.AP6_21_2.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_21_2 =  df_copy_tper_vic2.AP6_21_2.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_21_2.value_counts()

99    92548
2         2
1         1
Name: AP6_21_2, dtype: int64

In [112]:
df_copy_tper_vic2.AP6_21_3.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_21_3 =  df_copy_tper_vic2.AP6_21_3.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_21_3.value_counts()

99    92550
2         1
Name: AP6_21_3, dtype: int64

In [113]:
df_copy_tper_vic2.AP6_21_4.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_21_4 =  df_copy_tper_vic2.AP6_21_4.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_21_4.value_counts()

99    92551
Name: AP6_21_4, dtype: int64

In [114]:
df_copy_tper_vic2.AP6_21_5.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_21_5 =  df_copy_tper_vic2.AP6_21_5.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_21_5.value_counts()

99    92551
Name: AP6_21_5, dtype: int64

In [115]:
df_copy_tper_vic2.AP6_21_6.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_21_6 =  df_copy_tper_vic2.AP6_21_6.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_21_6.value_counts()

99    92551
Name: AP6_21_6, dtype: int64

In [116]:
df_copy_tper_vic2.AP6_21_7.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_21_7 =  df_copy_tper_vic2.AP6_21_7.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_21_7.value_counts()

99    92551
Name: AP6_21_7, dtype: int64

In [117]:
df_copy_tper_vic2.AP6_22_1.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_22_1 =  df_copy_tper_vic2.AP6_22_1.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_22_1.value_counts()

99    92546
1         5
Name: AP6_22_1, dtype: int64

In [118]:
df_copy_tper_vic2.AP6_22_2.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_22_2=  df_copy_tper_vic2.AP6_22_2.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_22_2.value_counts()

99    92551
Name: AP6_22_2, dtype: int64

In [119]:
df_copy_tper_vic2.AP6_22_3.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_22_3 =  df_copy_tper_vic2.AP6_22_3.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_22_3.value_counts()

99    92551
Name: AP6_22_3, dtype: int64

In [120]:
df_copy_tper_vic2.AP6_22_4.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_22_4 =  df_copy_tper_vic2.AP6_22_4.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_22_4.value_counts()

99    92551
Name: AP6_22_4, dtype: int64

In [121]:
df_copy_tper_vic2.AP6_22_5.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_22_5 =  df_copy_tper_vic2.AP6_22_5.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_22_5.value_counts()

99    92551
Name: AP6_22_5, dtype: int64

In [122]:
df_copy_tper_vic2.AP6_22_6.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_22_6 =  df_copy_tper_vic2.AP6_22_6.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_22_6.value_counts()

99    92551
Name: AP6_22_6, dtype: int64

In [123]:
df_copy_tper_vic2.AP6_22_7.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_22_7 =  df_copy_tper_vic2.AP6_22_7.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_22_7.value_counts()

99    92551
Name: AP6_22_7, dtype: int64

In [124]:
df_copy_tper_vic2.AP7_1.replace(dicc, inplace = True)
df_copy_tper_vic2.AP7_1.value_counts()

2     76252
1     16256
99       43
Name: AP7_1, dtype: int64

In [125]:
df_copy_tper_vic2.AP7_2.replace(dicc, inplace = True)
df_copy_tper_vic2.AP7_2.value_counts()

2     86779
1      5725
99       47
Name: AP7_2, dtype: int64

In [126]:
df_copy_tper_vic2.AP7_3_05.replace(dicc, inplace = True)
df_copy_tper_vic2.AP7_3_05.value_counts()

2     87585
1      4892
99       74
Name: AP7_3_05, dtype: int64

In [127]:
df_copy_tper_vic2.AP7_3_06.replace(dicc, inplace = True)
df_copy_tper_vic2.AP7_3_06.value_counts()

2     90820
1      1536
99      195
Name: AP7_3_06, dtype: int64

In [128]:
df_copy_tper_vic2.AP7_3_07.replace(dicc, inplace = True)
df_copy_tper_vic2.AP7_3_07.value_counts()

2     90693
1      1807
99       51
Name: AP7_3_07, dtype: int64

In [129]:
df_copy_tper_vic2.AP7_3_08.replace(dicc, inplace = True)
df_copy_tper_vic2.AP7_3_08.value_counts()

2     90880
1      1617
99       54
Name: AP7_3_08, dtype: int64

In [130]:
df_copy_tper_vic2.AP7_3_09.replace(dicc, inplace = True)
df_copy_tper_vic2.AP7_3_09.value_counts()

2     86497
1      5984
99       70
Name: AP7_3_09, dtype: int64

In [131]:
df_copy_tper_vic2.AP7_3_10.replace(dicc, inplace = True)
df_copy_tper_vic2.AP7_3_10.value_counts()

2     90196
1      2296
99       59
Name: AP7_3_10, dtype: int64

In [132]:
df_copy_tper_vic2.AP7_3_11.replace(dicc, inplace = True)
df_copy_tper_vic2.AP7_3_11.value_counts()

2     91615
1       867
99       69
Name: AP7_3_11, dtype: int64

In [133]:
df_copy_tper_vic2.AP7_3_12.replace(dicc, inplace = True)
df_copy_tper_vic2.AP7_3_12.value_counts()

2     92454
1        72
99       25
Name: AP7_3_12, dtype: int64

In [134]:
df_copy_tper_vic2.AP7_3_13.replace(dicc, inplace = True)
df_copy_tper_vic2.AP7_3_13.value_counts()

2     91988
1       527
99       36
Name: AP7_3_13, dtype: int64

In [135]:
df_copy_tper_vic2.AP7_3_14.replace(dicc, inplace = True)
df_copy_tper_vic2.AP7_3_14.value_counts()

2     92439
1        71
99       41
Name: AP7_3_14, dtype: int64

In [136]:
df_copy_tper_vic2.AP7_3_15.replace(dicc, inplace = True)
df_copy_tper_vic2.AP7_3_15.value_counts()

2     92017
99      419
1       115
Name: AP7_3_15, dtype: int64

In [137]:
df_copy_tper_vic2.AP7_4_05.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP7_4_05 =  df_copy_tper_vic2.AP7_4_05.replace('\r', "", regex = True)
df_copy_tper_vic2.AP7_4_05.value_counts()

99    87659
01     4209
02      510
03      126
04       24
05       19
20        1
07        1
30        1
06        1
Name: AP7_4_05, dtype: int64

In [138]:
df_copy_tper_vic2.AP7_4_06.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP7_4_06 =  df_copy_tper_vic2.AP7_4_06.replace('\r', "", regex = True)
df_copy_tper_vic2.AP7_4_06.value_counts()

99    91015
01     1339
02      139
03       32
04       11
05        7
06        3
10        2
20        1
07        1
08        1
Name: AP7_4_06, dtype: int64

In [139]:
df_copy_tper_vic2.AP7_4_07.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP7_4_07 =  df_copy_tper_vic2.AP7_4_07.replace('\r', "", regex = True)
df_copy_tper_vic2.AP7_4_07.value_counts()

99    90744
01     1599
02      158
03       31
04       16
05        2
06        1
Name: AP7_4_07, dtype: int64

In [140]:
df_copy_tper_vic2.AP7_4_08.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP7_4_08 =  df_copy_tper_vic2.AP7_4_08.replace('\r', "", regex = True)
df_copy_tper_vic2.AP7_4_08.value_counts()

99    90934
01     1481
02      104
03       23
04        4
05        3
12        1
10        1
Name: AP7_4_08, dtype: int64

In [141]:
df_copy_tper_vic2.AP7_4_09.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP7_4_09 =  df_copy_tper_vic2.AP7_4_09.replace('\r', "", regex = True)
df_copy_tper_vic2.AP7_4_09.value_counts()

99    86567
01     5058
02      617
03      204
04       43
05       35
10        8
06        7
07        3
20        2
50        1
36        1
15        1
11        1
08        1
09        1
12        1
Name: AP7_4_09, dtype: int64

In [142]:
df_copy_tper_vic2.AP7_4_10.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP7_4_10 =  df_copy_tper_vic2.AP7_4_10.replace('\r', "", regex = True)
df_copy_tper_vic2.AP7_4_10.value_counts()

99    90255
01     2020
02      175
03       57
04       19
05       16
10        5
06        2
07        1
90        1
Name: AP7_4_10, dtype: int64

In [143]:
df_copy_tper_vic2.AP7_4_11.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP7_4_11 =  df_copy_tper_vic2.AP7_4_11.replace('\r', "", regex = True)
df_copy_tper_vic2.AP7_4_11.value_counts()

99    91684
01      792
02       47
03       21
05        5
04        2
Name: AP7_4_11, dtype: int64

In [144]:
df_copy_tper_vic2.AP7_4_12.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP7_4_12 =  df_copy_tper_vic2.AP7_4_12.replace('\r', "", regex = True)
df_copy_tper_vic2.AP7_4_12.value_counts()

99    92479
01       69
02        2
03        1
Name: AP7_4_12, dtype: int64

In [145]:
df_copy_tper_vic2.AP7_4_13.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP7_4_13 =  df_copy_tper_vic2.AP7_4_13.replace('\r', "", regex = True)
df_copy_tper_vic2.AP7_4_13.value_counts()

99    92025
01      434
02       45
03       27
05       12
04        3
10        2
11        1
15        1
06        1
Name: AP7_4_13, dtype: int64

In [146]:
df_copy_tper_vic2.AP7_4_14.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP7_4_14 =  df_copy_tper_vic2.AP7_4_14.replace('\r', "", regex = True)
df_copy_tper_vic2.AP7_4_14.value_counts()

99    92480
01       65
02        3
03        2
20        1
Name: AP7_4_14, dtype: int64

In [147]:
df_copy_tper_vic2.AP7_4_15.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP7_4_15 =  df_copy_tper_vic2.AP7_4_15.replace('\r', "", regex = True)
df_copy_tper_vic2.AP7_4_15.value_counts()

99    92436
01      111
03        2
02        2
Name: AP7_4_15, dtype: int64

In [148]:
df_copy_tper_vic2.FAC_HOG.value_counts()

181     509
180     498
209     479
187     477
201     449
192     446
196     441
200     413
184     396
225     389
176     388
185     386
205     384
372     380
195     377
186     372
206     370
226     362
388     353
191     352
182     351
210     350
220     343
202     342
170     340
213     334
197     333
207     331
215     328
168     327
       ...
1206      2
856       2
894       2
2434      2
1406      2
1307      2
2820      2
1801      2
2260      2
681       2
1888      2
1601      2
1424      1
2592      1
1084      1
1179      1
2064      1
2608      1
874       1
896       1
986       1
5759      1
1263      1
915       1
662       1
4557      1
2511      1
1133      1
1490      1
1191      1
Name: FAC_HOG, Length: 1364, dtype: int64

In [149]:
df_copy_tper_vic2.FAC_HOG_AM.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.FAC_HOG_AM =  df_copy_tper_vic2.FAC_HOG_AM.replace('\r', "", regex = True)
df_copy_tper_vic2.FAC_HOG_AM.value_counts()

99        57125
000200      207
000192      177
000198      174
000186      171
000185      169
000196      162
000187      154
000180      151
000194      148
000201      148
000168      144
000177      142
000176      142
000205      142
000183      137
000181      135
000182      132
000190      130
000199      130
000191      129
000193      129
000209      127
000188      126
000172      125
000203      123
000457      123
000174      122
000414      121
000458      121
          ...
001770        3
000925        3
001598        3
001646        3
001708        3
000796        3
001731        3
000961        3
002177        3
001700        3
002278        3
001390        3
001601        2
002820        2
000681        2
002434        2
002260        2
000856        2
000894        2
000820        2
002064        1
000843        1
001424        1
000662        1
001018        1
001191        1
000915        1
002608        1
002592        1
004557        1
Name: FAC_HOG_AM, Length: 1225, dtype: int64

In [150]:
df_copy_tper_vic2.FAC_ELE.value_counts()

361      217
384      186
362      176
374      168
372      164
369      156
410      156
368      156
371      155
452      155
403      155
365      153
450      152
373      151
437      151
418      148
400      148
413      147
345      147
355      146
360      143
388      143
352      143
336      143
463      143
201      142
429      141
426      140
451      139
170      139
        ...
4218       1
4043       1
4331       1
3539       1
4022       1
7945       1
9934       1
3928       1
2989       1
5555       1
4267       1
8474       1
10348      1
3595       1
15957      1
3312       1
2152       1
7625       1
3467       1
2399       1
3376       1
7953       1
5363       1
9422       1
3859       1
4346       1
3211       1
5968       1
4636       1
2472       1
Name: FAC_ELE, Length: 4349, dtype: int64

In [151]:
df_copy_tper_vic2.FAC_ELE_AM.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.FAC_ELE_AM =  df_copy_tper_vic2.FAC_ELE_AM.replace('\r', "", regex = True)
df_copy_tper_vic2.FAC_ELE_AM.value_counts()

99        57125
000400       91
000384       87
000373       76
000399       72
000433       71
000372       64
000361       63
000450       63
000391       59
000365       59
000397       59
000385       58
000392       58
000348       58
000335       58
000355       57
000453       56
000402       56
000438       56
000199       55
000415       55
000354       55
000376       55
000426       54
000362       53
000410       53
000380       53
000379       53
000403       53
          ...
005527        1
003206        1
006727        1
004021        1
011590        1
005083        1
005325        1
002831        1
004263        1
003068        1
002890        1
003316        1
002342        1
002242        1
003412        1
002852        1
008897        1
007940        1
006286        1
002217        1
002681        1
013671        1
005013        1
002801        1
003155        1
002806        1
002836        1
010638        1
003438        1
003076        1
Name: FAC_ELE_AM, Length: 3811, dtype: int64

In [152]:
df_copy_tper_vic2.DOMINIO =  df_copy_tper_vic2.DOMINIO.replace('\r', "", regex = True)
df_copy_tper_vic2.DOMINIO.value_counts()

U    48290
C    23126
R    21135
Name: DOMINIO, dtype: int64

In [153]:
df_copy_tper_vic2.ESTRATO.value_counts()

2    47369
3    19801
1    17202
4     8179
Name: ESTRATO, dtype: int64

In [154]:
df_copy_tper_vic2.EST_DIS.value_counts()

149    2797
148    2188
124    1531
354    1315
569    1097
212    1039
150    1024
249     931
126     931
323     869
374     861
481     830
394     734
228     728
232     692
289     629
491     614
322     593
127     587
2       563
423     562
442     551
324     543
290     537
229     525
62      518
515     515
512     505
168     503
572     496
       ...
22       10
137      10
328      10
280      10
163      10
276      10
460       9
404       9
269       9
26        9
12        9
544       9
549       9
6         9
230       9
68        9
17        9
551       8
397       8
443       8
550       8
578       8
554       7
501       7
531       7
489       7
548       6
197       6
140       5
114       3
Name: EST_DIS, Length: 598, dtype: int64

In [155]:
df_copy_tper_vic2.UPM_DIS.value_counts()

5347     25
8477     25
13008    25
7134     25
6248     24
10468    24
2584     24
7765     24
11000    24
1028     24
10483    24
10450    24
7426     24
9309     24
7064     24
7554     24
1094     24
5400     24
7132     23
7550     23
13139    23
12170    23
6782     23
12556    23
270      23
12159    23
7060     23
12986    23
9329     23
2652     23
         ..
8103      1
8141      1
2799      1
9441      1
9522      1
2573      1
2060      1
10239     1
8600      1
12299     1
678       1
9535      1
7270      1
5575      1
11760     1
11266     1
6372      1
11207     1
2758      1
7536      1
522       1
2440      1
3473      1
5521      1
8025      1
9885      1
9685      1
7394      1
10873     1
9914      1
Name: UPM_DIS, Length: 13195, dtype: int64

In [156]:
df_copy_tper_vic2.head()

,UPM,VIV_SEL,HOGAR,RESUL_H,R_SEL,SEXO,EDAD,AREAM,CVE_ENT,NOM_ENT,...,AP7_3_15,AP7_4_15,FAC_HOG,FAC_ELE,FAC_HOG_AM,FAC_ELE_AM,DOMINIO,ESTRATO,EST_DIS,UPM_DIS
0,100008,1,1,B,1,1,40,14,1,Aguascalientes\r,...,2,99,204,408,000204,000408,U,4,3,1
1,100008,2,1,B,2,2,70,14,1,Aguascalientes\r,...,2,99,204,611,000204,000611,U,4,3,1
2,100008,4,1,B,1,1,85,14,1,Aguascalientes\r,...,2,99,204,408,000204,000408,U,4,3,1
3,100008,5,1,A,1,1,28,14,1,Aguascalientes\r,...,2,99,204,408,000204,000408,U,4,3,1
4,100022,1,1,A,3,1,22,14,1,Aguascalientes\r,...,2,99,198,595,000198,000595,U,3,2,2

In [157]:
df_copy_tper_vic2.NOM_ENT.value_counts()

Ciudad de MÃƒÂ©xico\r                  6203
MichoacÃƒÂ¡n de Ocampo\r               3746
Tamaulipas\r                         3738
Sinaloa\r                            3677
Puebla\r                             3645
Chiapas\r                            3636
Veracruz de Ignacio de la Llave\r    3575
Chihuahua\r                          3439
YucatÃƒÂ¡n\r                           3199
Colima\r                             3149
Tabasco\r                            3101
Durango\r                            2907
Oaxaca\r                             2823
Hidalgo\r                            2791
QuerÃƒÂ©taro\r                         2757
Jalisco\r                            2749
MÃƒÂ©xico\r                            2712
Morelos\r                            2702
Baja California Sur\r                2689
Nuevo LeÃƒÂ³n\r                        2653
Coahuila de Zaragoza\r               2645
Baja California\r                    2630
Quintana Roo\r                       2598
Guerrero\r                           2577
Guanajuato\r                         2393
Tlaxcala\r                           2314
Campeche\r                           2275
Nayarit\r                            1878
Aguascalientes\r                     1864
Zacatecas\r                          1858
Sonora\r                             1825
San Luis Potosi                      1803
Name: NOM_ENT, dtype: int64

In [158]:
df_copy_tper_vic2.NOM_ENT =  df_copy_tper_vic2.NOM_ENT.replace('\r', "", regex = True)
df_copy_tper_vic2.NOM_ENT.value_counts()

Ciudad de MÃƒÂ©xico                  6203
MichoacÃƒÂ¡n de Ocampo               3746
Tamaulipas                         3738
Sinaloa                            3677
Puebla                             3645
Chiapas                            3636
Veracruz de Ignacio de la Llave    3575
Chihuahua                          3439
YucatÃƒÂ¡n                           3199
Colima                             3149
Tabasco                            3101
Durango                            2907
Oaxaca                             2823
Hidalgo                            2791
QuerÃƒÂ©taro                         2757
Jalisco                            2749
MÃƒÂ©xico                            2712
Morelos                            2702
Baja California Sur                2689
Nuevo LeÃƒÂ³n                        2653
Coahuila de Zaragoza               2645
Baja California                    2630
Quintana Roo                       2598
Guerrero                           2577
Guanajuato                         2393
Tlaxcala                           2314
Campeche                           2275
Nayarit                            1878
Aguascalientes                     1864
Zacatecas                          1858
Sonora                             1825
San Luis Potosi                    1803
Name: NOM_ENT, dtype: int64

In [159]:
df_copy_tper_vic2.NOM_MUN =  df_copy_tper_vic2.NOM_MUN.replace('\r', "", regex = True)
df_copy_tper_vic2.NOM_MUN.value_counts()

JuÃƒÂ¡rez                       2014
Benito JuÃƒÂ¡rez                1774
MÃƒÂ©rida                       1444
Tijuana                       1284
QuerÃƒÂ©taro                    1283
Aguascalientes                1276
La Paz                        1141
CuliacÃƒÂ¡n                     1117
Los Cabos                     1035
Iztapalapa                    1015
Durango                       1004
Puebla                         995
Centro                         987
Reynosa                        974
TorreÃƒÂ³n                       891
Gustavo A. Madero              847
Manzanillo                     807
Mexicali                       802
Campeche                       796
CuauhtÃƒÂ©moc                    780
GÃƒÂ³mez Palacio                 764
Villa de ÃƒÂlvarez              713
Guadalupe                      682
Chihuahua                      668
LeÃƒÂ³n                          664
MazatlÃƒÂ¡n                      649
Acapulco de JuÃƒÂ¡rez            645
Tepic                          638
Matamoros                      606
Carmen                         594
                              ...
San Bartolo Coyotepec            9
Tlalixtac de Cabrera             8
San Antonio de la Cal            8
San DamiÃƒÂ¡n TexÃƒÂ³loc             8
San JerÃƒÂ³nimo Zacualpan          6
Calimaya                         6
San Gregorio Atzompa             5
San Mateo Atenco                 5
Chiautla                         5
AmatlÃƒÂ¡n de los Reyes            5
Otzolotepec                      5
San Francisco ChindÃƒÂºa           5
Nava                             5
El Carmen                        5
Atenco                           5
Mariano Escobedo                 5
TarÃƒÂ­mbaro                       5
San Jacinto Amilpas              5
Tlalnelhuayocan                  5
Isla Mujeres                     5
NatÃƒÂ­vitas                       5
San SebastiÃƒÂ¡n Tutla             5
TeotihuacÃƒÂ¡n                     5
Almoloya de JuÃƒÂ¡rez              4
Jaltenco                         4
Santa Isabel Xiloxoxtla          4
Juan C. Bonilla                  4
San Lorenzo Cacaotepec           4
Nextlalpan                       4
San AgustÃƒÂ­n de las Juntas       3
Name: NOM_MUN, Length: 1084, dtype: int64

In [160]:
df_copy_tper_vic2.RESUL_H.replace({'A':'1','B':'2'},inplace=True)
df_copy_tper_vic2.RESUL_H.value_counts()

2    66321
1    26230
Name: RESUL_H, dtype: int64

In [161]:
df_copy_tper_vic2.DOMINIO.replace({'U':'1','C':'2','R':'3'},inplace=True)
df_copy_tper_vic2.DOMINIO.value_counts()

1    48290
2    23126
3    21135
Name: DOMINIO, dtype: int64

In [162]:
diccENT = {'Ciudad de MÃƒÂ©xico':'7', 'MichoacÃƒÂ¡n de Ocampo':'16','Tamaulipas':'29','Sinaloa':'25',
           'Puebla':'21','Chiapas':'5', 'Veracruz de Ignacio de la Llave':'31','Chihuahua':'6',
           'YucatÃƒÂ¡n':'32','Colima':'9', 'Tabasco':'28','Durango':'10','Oaxaca':'20','Hidalgo': '13',
           'QuerÃƒÂ©taro':'22','Jalisco':'14','MÃƒÂ©xico':'15','Morelos':'17','Baja California Sur':'3', 'Guanajuato':'11',
           'Nuevo LeÃƒÂ³n':'19','Coahuila de Zaragoza':'8', 'Baja California':'2', 'Quintana Roo':'23',
           'Tlaxcala':'30','Campeche':'4', 'Guerrero':'12','Nayarit':'18','Aguascalientes':'1', 
           'Zacatecas':'33','Sonora':'26','San Luis Potosi':'27'}

In [165]:
df_copy_tper_vic2.NOM_ENT.replace(diccENT,inplace=True)
df_copy_tper_vic2.NOM_ENT.value_counts()

7     6203
16    3746
29    3738
25    3677
21    3645
5     3636
31    3575
6     3439
32    3199
9     3149
28    3101
10    2907
20    2823
13    2791
22    2757
14    2749
15    2712
17    2702
3     2689
19    2653
8     2645
2     2630
23    2598
12    2577
11    2393
30    2314
4     2275
18    1878
1     1864
33    1858
26    1825
27    1803
Name: NOM_ENT, dtype: int64

In [167]:
df_copy_tper_vic2.to_csv("TPer_vic2_Clean2017.csv")