In [1]:
import pandas as pd
import numpy as np

In [2]:
path = 'C:/Users/jorge/OneDrive/Escritorio/ProyectoJacobo/EnvipeLimpia/TPer_vic2_Clean2015.csv'
df_tper_vic2 = pd.read_csv(path, low_memory=False)
df_tper_vic2.head()

,UPM,VIV_SEL,HOGAR,RESUL_H,R_SEL,AREAM,AP6_1_1,AP6_1_2,AP6_2,AP6_3,...,AP7_4_14,AP7_4_15,FAC_HOG,FAC_ELE,EST_DIS,UPM_DIS,DOMINIO,ESTRATO,FAC_HOG_AM,FAC_ELE_AM
0,100006,1,1,B,1,14.0,1,1.0,2,2,...,NaN,NaN,172,516,5,1,U,3,173,519
1,100006,2,1,A,2,14.0,1,1.0,1,1,...,NaN,NaN,172,344,5,1,U,3,173,346
2,100006,3,1,A,1,14.0,1,1.0,1,2,...,NaN,NaN,172,344,5,1,U,3,173,346
3,100006,4,1,A,2,14.0,2,NaN,1,2,...,NaN,NaN,172,344,5,1,U,3,173,346
4,100006,5,1,B,1,14.0,2,NaN,2,2,...,NaN,NaN,172,172,5,1,U,3,173,173

In [3]:
df_tper_vic2.shape

(84507, 140)

In [4]:
df_copy_tper_vic2 = df_tper_vic2

In [5]:
df_copy_tper_vic2.shape

(84507, 140)

In [6]:
df_copy_tper_vic2.UPM.value_counts()

1105556    28
1603622    26
1561283    25
2403768    25
1107848    24
2161758    24
1604286    23
1604586    23
1108653    23
762321     23
702870     23
3103888    23
1661402    23
2202792    23
3104138    23
704514     23
1301738    23
1161354    23
2107270    23
1160163    23
401487     23
3160249    23
2901192    23
2560148    23
2107983    23
1360799    22
762510     22
601515     22
704535     22
2860233    22
           ..
702108      1
201805      1
1703509     1
2300577     1
600325      1
401020      1
503914      1
2302665     1
2501720     1
1901536     1
701217      1
2300878     1
2805603     1
2201629     1
2105343     1
2300853     1
2802943     1
503672      1
2805754     1
204694      1
1200494     1
2300470     1
3003303     1
2806062     1
2301515     1
1502819     1
1700569     1
1529197     1
2502622     1
504069      1
Name: UPM, Length: 11726, dtype: int64

In [7]:
df_copy_tper_vic2.VIV_SEL.value_counts()

2     10327
4     10316
3     10269
1     10247
5     10226
6      2219
11     2218
7      2216
8      2215
15     2212
17     2208
9      2206
10     2203
16     2201
14     2200
12     2195
18     2194
13     2174
19     2156
20     2050
21      187
22       54
23       12
24        2
Name: VIV_SEL, dtype: int64

In [8]:
df_copy_tper_vic2.HOGAR.value_counts()

1    82364
2     1845
3      262
4       32
5        3
6        1
Name: HOGAR, dtype: int64

In [9]:
df_copy_tper_vic2.RESUL_H.value_counts()

B    61014
A    23493
Name: RESUL_H, dtype: int64

In [10]:
df_copy_tper_vic2.RESUL_H.replace({'A\r':'A', 'B\r':'B' },inplace=True)
df_copy_tper_vic2.RESUL_H.value_counts()

B    61014
A    23493
Name: RESUL_H, dtype: int64

In [11]:
df_copy_tper_vic2.R_SEL.value_counts()

1     42021
2     29065
3      8327
4      3244
5      1121
6       408
7       157
8        85
9        40
10       19
11        9
12        7
19        1
18        1
16        1
14        1
Name: R_SEL, dtype: int64

In [12]:
df_copy_tper_vic2.AREAM.value_counts()

1.0     3498
3.0     2105
8.0     1537
2.0     1367
39.0    1298
33.0    1278
4.0     1194
14.0    1193
36.0    1151
21.0    1146
29.0    1107
41.0    1106
10.0    1020
24.0     925
26.0     893
40.0     866
9.0      761
7.0      717
17.0     709
28.0     647
27.0     637
5.0      609
15.0     568
18.0     548
12.0     524
25.0     500
13.0     496
19.0     414
31.0     376
32.0     331
43.0     323
16.0     156
Name: AREAM, dtype: int64

In [33]:
diccDec = {0.0:'0',1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',7.0:'7',8.0:'8',9.0:'9',10.0:'10',11.0:'11',12.0:'12',
           13.0:'13',14.0:'14',15.0:'15',16.0:'16',17.0:'17',18.0:'18',19.0:'19',20.0:'20',21.0:'21',22.0:'22',23.0:'23',
           24.0:'24',25.0:'25',26.0:'26',27.0:'27',28.0:'28',29.0:'29',30.0:'30',31.0:'31',32.0:'32',33.0:'33',34.0:'34',
           35.0:'35',36.0:'36',37.0:'37',38.0:'38',39.0:'39',40.0:'40',41.0:'41',42.0:'42',43.0:'43',44.0:'44',45.0:'45',
           50.0:'50',60.0:'60',99.0:'99'}

In [14]:
df_copy_tper_vic2.AREAM.replace(diccDec , inplace = True)
df_copy_tper_vic2.AREAM.value_counts()

1     3498
3     2105
8     1537
2     1367
39    1298
33    1278
4     1194
14    1193
36    1151
21    1146
29    1107
41    1106
10    1020
24     925
26     893
40     866
9      761
7      717
17     709
28     647
27     637
5      609
15     568
18     548
12     524
25     500
13     496
19     414
31     376
32     331
43     323
16     156
Name: AREAM, dtype: int64

In [15]:
dicc = {9:99}

In [16]:
df_copy_tper_vic2.AP6_1_1.replace(dicc, inplace = True)
df_copy_tper_vic2.AP6_1_1.value_counts()

2     47679
1     36705
99      123
Name: AP6_1_1, dtype: int64

In [19]:
df_copy_tper_vic2.AP6_1_2.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_1_2.value_counts()

1     27898
2      7156
3      1247
4       300
5        79
6        17
7         4
99        2
30        1
8         1
Name: AP6_1_2, dtype: int64

In [20]:
df_copy_tper_vic2.AP6_2.replace(dicc, inplace = True)
df_copy_tper_vic2.AP6_2.value_counts()

2     55845
1     28611
99       51
Name: AP6_2, dtype: int64

In [21]:
df_copy_tper_vic2.AP6_3.replace(dicc, inplace = True)
df_copy_tper_vic2.AP6_3.value_counts()

2     74371
1     10102
99       34
Name: AP6_3, dtype: int64

In [22]:
df_copy_tper_vic2.AP6_4_01.replace(dicc, inplace = True)
df_copy_tper_vic2.AP6_4_01.value_counts()

2     83225
1      1239
99       43
Name: AP6_4_01, dtype: int64

In [23]:
dicc2 = {'\r':'99','1\r':'1','2\r':'2','9\r':'99'}

In [26]:
df_copy_tper_vic2.AP6_5_01.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_5_01.value_counts()

1    1061
2     178
Name: AP6_5_01, dtype: int64

In [27]:
df_copy_tper_vic2.AP6_6_01.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_6_01.value_counts()

1    998
2     59
3      2
4      1
5      1
Name: AP6_6_01, dtype: int64

In [28]:
df_copy_tper_vic2.AP6_4_02.replace(dicc, inplace = True)
df_copy_tper_vic2.AP6_4_02.value_counts()

2     78427
1      6034
99       46
Name: AP6_4_02, dtype: int64

In [29]:
df_copy_tper_vic2.AP6_5_02.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_5_02.value_counts()

1    5580
2     454
Name: AP6_5_02, dtype: int64

In [30]:
df_copy_tper_vic2.AP6_6_02.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_6_02.value_counts()

1     4040
2     1110
3      331
4       63
5       22
6        7
10       3
8        2
24       1
7        1
Name: AP6_6_02, dtype: int64

In [31]:
df_copy_tper_vic2.AP6_4_03.replace(dicc, inplace = True)
df_copy_tper_vic2.AP6_4_03.value_counts()

2     78711
1      5737
99       59
Name: AP6_4_03, dtype: int64

In [34]:
df_copy_tper_vic2.AP6_6_03.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_6_03.value_counts()

1     4063
2     1090
3      405
4       74
5       68
10      11
6       10
8        4
7        4
20       3
15       1
9        1
60       1
37       1
50       1
Name: AP6_6_03, dtype: int64

In [35]:
df_copy_tper_vic2.AP6_4_04.replace(dicc, inplace = True)
df_copy_tper_vic2.AP6_4_04.value_counts()

2     79834
1      4609
99       64
Name: AP6_4_04, dtype: int64

In [40]:
df_copy_tper_vic2.AP6_6_04.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_6_04.value_counts()

1     3814
2      617
3      129
4       29
5       17
6        2
12       1
Name: AP6_6_04, dtype: int64

In [36]:
df_copy_tper_vic2.AP6_7.replace(dicc, inplace = True)
df_copy_tper_vic2.AP6_7.value_counts()

2     65381
1     19078
99       48
Name: AP6_7, dtype: int64

In [39]:
df_copy_tper_vic2.AP6_8.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_8.value_counts()

2     23010
1      2174
3      1796
99       24
Name: AP6_8, dtype: int64

In [37]:
df_copy_tper_vic2.AP6_9.replace(dicc, inplace = True)
df_copy_tper_vic2.AP6_9.value_counts()

2     83576
1       886
99       45
Name: AP6_9, dtype: int64

In [38]:
df_copy_tper_vic2.AP6_10_1.replace(dicc, inplace = True)
df_copy_tper_vic2.AP6_10_1.value_counts()

2     84243
1       227
99       37
Name: AP6_10_1, dtype: int64

In [41]:
df_copy_tper_vic2.AP6_10_2.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_10_2.value_counts()

1    203
2     19
3      3
6      1
7      1
Name: AP6_10_2, dtype: int64

In [43]:
df_copy_tper_vic2.AP6_11_1.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_11_1.value_counts()

1    195
2     32
Name: AP6_11_1, dtype: int64

In [44]:
df_copy_tper_vic2.AP6_12_1.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_12_1.value_counts()

1    183
2     11
3      1
Name: AP6_12_1, dtype: int64

In [45]:
df_copy_tper_vic2.AP6_13_1_1.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_13_1_1.value_counts()

1     106
2      45
3      19
4      10
99      8
6       6
5       1
Name: AP6_13_1_1, dtype: int64

In [46]:
df_copy_tper_vic2.AP6_13_1_2.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_13_1_2.value_counts()

1     7
2     2
3     2
99    1
Name: AP6_13_1_2, dtype: int64

In [47]:
df_copy_tper_vic2.AP6_13_1_3.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_13_1_3.value_counts()

1    1
Name: AP6_13_1_3, dtype: int64

In [48]:
df_copy_tper_vic2.AP6_13_1_4.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_13_1_4.value_counts()

99    84507
Name: AP6_13_1_4, dtype: int64

In [49]:
df_copy_tper_vic2.AP6_11_2.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_11_2.value_counts()

1    17
2     7
Name: AP6_11_2, dtype: int64

In [50]:
df_copy_tper_vic2.AP6_12_2.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_12_2.value_counts()

1    17
Name: AP6_12_2, dtype: int64

In [51]:
df_copy_tper_vic2.AP6_13_2_1.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_13_2_1.value_counts()

1    11
2     4
4     1
3     1
Name: AP6_13_2_1, dtype: int64

In [52]:
df_copy_tper_vic2.AP6_13_2_2.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_13_2_2.value_counts()

99    84507
Name: AP6_13_2_2, dtype: int64

In [53]:
df_copy_tper_vic2.AP6_13_2_3.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_13_2_3.value_counts()

99    84507
Name: AP6_13_2_3, dtype: int64

In [54]:
df_copy_tper_vic2.AP6_13_2_4.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_13_2_4.value_counts()

99    84507
Name: AP6_13_2_4, dtype: int64

In [55]:
df_copy_tper_vic2.AP6_11_3.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_11_3.value_counts()

1    5
Name: AP6_11_3, dtype: int64

In [58]:
df_copy_tper_vic2.AP6_12_3.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_12_3.value_counts()

1    5
Name: AP6_12_3, dtype: int64

In [56]:
df_copy_tper_vic2.AP6_11_4.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_11_4.value_counts()

1    2
Name: AP6_11_4, dtype: int64

In [57]:
df_copy_tper_vic2.AP6_11_5.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_11_5.value_counts()

1    2
Name: AP6_11_5, dtype: int64

In [59]:
df_copy_tper_vic2.AP6_11_6.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_11_6.value_counts()

2    1
1    1
Name: AP6_11_6, dtype: int64

In [60]:
df_copy_tper_vic2.AP6_11_7.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_11_7.value_counts()

1    1
Name: AP6_11_7, dtype: int64

In [61]:
df_copy_tper_vic2.AP6_12_4.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_12_4.value_counts()

1    2
Name: AP6_12_4, dtype: int64

In [62]:
df_copy_tper_vic2.AP6_12_5.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_12_5.value_counts()

1    2
Name: AP6_12_5, dtype: int64

In [63]:
df_copy_tper_vic2.AP6_12_6.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_12_6.value_counts()

1    1
Name: AP6_12_6, dtype: int64

In [64]:
df_copy_tper_vic2.AP6_12_7.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_12_7.value_counts()

1    1
Name: AP6_12_7, dtype: int64

In [65]:
df_copy_tper_vic2.AP6_13_3_1.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_13_3_1.value_counts()

2    2
1    2
3    1
Name: AP6_13_3_1, dtype: int64

In [66]:
df_copy_tper_vic2.AP6_13_3_2.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_13_3_2.value_counts()

99    84507
Name: AP6_13_3_2, dtype: int64

In [69]:
df_copy_tper_vic2.AP6_13_3_3.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_13_3_3.value_counts()

99    84507
Name: AP6_13_3_3, dtype: int64

In [70]:
df_copy_tper_vic2.AP6_13_3_4.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_13_3_4.value_counts()

99    84507
Name: AP6_13_3_4, dtype: int64

In [72]:
df_copy_tper_vic2.AP6_13_4_1.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_13_4_1.value_counts()

3    1
1    1
Name: AP6_13_4_1, dtype: int64

In [73]:
df_copy_tper_vic2.AP6_13_5_1.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_13_5_1.value_counts()

3    1
1    1
Name: AP6_13_5_1, dtype: int64

In [74]:
df_copy_tper_vic2.AP6_13_6_1.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_13_6_1.value_counts()

3    1
Name: AP6_13_6_1, dtype: int64

In [75]:
df_copy_tper_vic2.AP6_13_7_1.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_13_7_1.value_counts()

3    1
Name: AP6_13_7_1, dtype: int64

In [76]:
df_copy_tper_vic2.AP6_13_4_2.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_13_4_2.value_counts()

99    84507
Name: AP6_13_4_2, dtype: int64

In [77]:
df_copy_tper_vic2.AP6_13_5_2.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_13_5_2.value_counts()

99    84507
Name: AP6_13_5_2, dtype: int64

In [78]:
df_copy_tper_vic2.AP6_13_6_2.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_13_6_2.value_counts()

99    84507
Name: AP6_13_6_2, dtype: int64

In [79]:
df_copy_tper_vic2.AP6_13_7_2.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_13_7_2.value_counts()

99    84507
Name: AP6_13_7_2, dtype: int64

In [80]:
df_copy_tper_vic2.AP6_13_4_3.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_13_4_3.value_counts()

99    84507
Name: AP6_13_4_3, dtype: int64

In [82]:
df_copy_tper_vic2.AP6_13_5_3.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_13_5_3.value_counts()

99    84507
Name: AP6_13_5_3, dtype: int64

In [83]:
df_copy_tper_vic2.AP6_13_6_3.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_13_6_3.value_counts()

99    84507
Name: AP6_13_6_3, dtype: int64

In [84]:
df_copy_tper_vic2.AP6_13_7_3.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_13_7_3.value_counts()

99    84507
Name: AP6_13_7_3, dtype: int64

In [85]:
df_copy_tper_vic2.AP6_13_4_4.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_13_4_4.value_counts()

99    84507
Name: AP6_13_4_4, dtype: int64

In [86]:
df_copy_tper_vic2.AP6_13_5_4.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_13_5_4.value_counts()

99    84507
Name: AP6_13_5_4, dtype: int64

In [87]:
df_copy_tper_vic2.AP6_13_6_4.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_13_6_4.value_counts()

99    84507
Name: AP6_13_6_4, dtype: int64

In [88]:
df_copy_tper_vic2.AP6_13_7_4.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_13_7_4.value_counts()

99    84507
Name: AP6_13_7_4, dtype: int64

In [67]:
df_copy_tper_vic2.AP6_14.replace(dicc, inplace = True)
df_copy_tper_vic2.AP6_14.value_counts()

2     83845
1       622
99       40
Name: AP6_14, dtype: int64

In [68]:
df_copy_tper_vic2.AP6_15_1.replace(dicc, inplace = True)
df_copy_tper_vic2.AP6_15_1.value_counts()

2     84339
1       130
99       38
Name: AP6_15_1, dtype: int64

In [91]:
df_copy_tper_vic2.AP6_15_2.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_15_2.value_counts()

1    112
2     15
3      2
7      1
Name: AP6_15_2, dtype: int64

In [90]:
df_copy_tper_vic2.AP6_16_1.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_16_1.value_counts()

1    107
2     23
Name: AP6_16_1, dtype: int64

In [ ]:
df_copy_tper_vic2.AP6_16_2.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_16_2 =  df_copy_tper_vic2.AP6_16_2.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_16_2.value_counts()

In [ ]:
df_copy_tper_vic2.AP6_16_3.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_16_3.value_counts()

In [92]:
df_copy_tper_vic2.AP6_16_3.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_16_3.value_counts()

2    2
1    1
Name: AP6_16_3, dtype: int64

In [93]:
df_copy_tper_vic2.AP6_16_4.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_16_4.value_counts()

2    1
Name: AP6_16_4, dtype: int64

In [94]:
df_copy_tper_vic2.AP6_16_5.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_16_5.value_counts()

2    1
Name: AP6_16_5, dtype: int64

In [95]:
df_copy_tper_vic2.AP6_16_6.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_16_6.value_counts()

1    1
Name: AP6_16_6, dtype: int64

In [96]:
df_copy_tper_vic2.AP6_16_7.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_16_7.value_counts()

99    1
Name: AP6_16_7, dtype: int64

In [97]:
df_copy_tper_vic2.AP6_17_1.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_17_1.value_counts()

1     82
2     15
3      9
99     1
Name: AP6_17_1, dtype: int64

In [ ]:
df_copy_tper_vic2.AP6_17_2.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_17_2 =  df_copy_tper_vic2.AP6_17_2.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_17_2.value_counts()

In [98]:
df_copy_tper_vic2.AP6_17_3.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_17_3.value_counts()

1    1
Name: AP6_17_3, dtype: int64

In [99]:
df_copy_tper_vic2.AP6_17_4.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_17_4.value_counts()

99    84507
Name: AP6_17_4, dtype: int64

In [100]:
df_copy_tper_vic2.AP6_17_5.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_17_5.value_counts()

99    84507
Name: AP6_17_5, dtype: int64

In [101]:
df_copy_tper_vic2.AP6_17_6.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_17_6.value_counts()

3    1
Name: AP6_17_6, dtype: int64

In [102]:
df_copy_tper_vic2.AP6_17_7.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_17_7.value_counts()

99    84507
Name: AP6_17_7, dtype: int64

In [103]:
df_copy_tper_vic2.AP6_18_1.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_18_1.value_counts()

1    16
2     1
Name: AP6_18_1, dtype: int64

In [104]:
df_copy_tper_vic2.AP6_18_2.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_18_2.value_counts()

1    4
Name: AP6_18_2, dtype: int64

In [105]:
df_copy_tper_vic2.AP6_18_3.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_18_3.value_counts()

99    84507
Name: AP6_18_3, dtype: int64

In [106]:
df_copy_tper_vic2.AP6_18_4.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_18_4.value_counts()

99    84507
Name: AP6_18_4, dtype: int64

In [107]:
df_copy_tper_vic2.AP6_18_5.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_18_5.value_counts()

99    84507
Name: AP6_18_5, dtype: int64

In [108]:
df_copy_tper_vic2.AP6_18_6.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_18_6.value_counts()

99    84507
Name: AP6_18_6, dtype: int64

In [109]:
df_copy_tper_vic2.AP6_18_7.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_18_7.value_counts()

99    84507
Name: AP6_18_7, dtype: int64

In [110]:
df_copy_tper_vic2.AP6_19.replace(dicc, inplace = True)
df_copy_tper_vic2.AP6_19.value_counts()

2     83821
1       634
99       52
Name: AP6_19, dtype: int64

In [111]:
df_copy_tper_vic2.AP6_20_1.replace(dicc, inplace = True)
df_copy_tper_vic2.AP6_20_1.value_counts()

2     84375
1        75
99       57
Name: AP6_20_1, dtype: int64

In [115]:
df_copy_tper_vic2.AP6_20_2.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_20_2.value_counts()

1    70
2     5
Name: AP6_20_2, dtype: int64

In [116]:
df_copy_tper_vic2.AP6_20_2.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_20_2.value_counts()

1    70
2     5
Name: AP6_20_2, dtype: int64

In [117]:
df_copy_tper_vic2.AP6_21_1.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_21_1.value_counts()

1    52
2    23
Name: AP6_21_1, dtype: int64

In [118]:
df_copy_tper_vic2.AP6_21_2.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_21_2.value_counts()

2    3
1    2
Name: AP6_21_2, dtype: int64

In [119]:
df_copy_tper_vic2.AP6_21_3.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_21_3.value_counts()

99    84507
Name: AP6_21_3, dtype: int64

In [120]:
df_copy_tper_vic2.AP6_21_4.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_21_4.value_counts()

99    84507
Name: AP6_21_4, dtype: int64

In [121]:
df_copy_tper_vic2.AP6_21_5.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_21_5.value_counts()

99    84507
Name: AP6_21_5, dtype: int64

In [122]:
df_copy_tper_vic2.AP6_21_6.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_21_6.value_counts()

99    84507
Name: AP6_21_6, dtype: int64

In [123]:
df_copy_tper_vic2.AP6_21_7.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_21_7.value_counts()

99    84507
Name: AP6_21_7, dtype: int64

In [124]:
df_copy_tper_vic2.AP6_22_1.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_22_1.value_counts()

1    7
2    1
Name: AP6_22_1, dtype: int64

In [125]:
df_copy_tper_vic2.AP6_22_2.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_22_2.value_counts()

99    84507
Name: AP6_22_2, dtype: int64

In [126]:
df_copy_tper_vic2.AP6_22_3.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_22_3.value_counts()

99    84507
Name: AP6_22_3, dtype: int64

In [127]:
df_copy_tper_vic2.AP6_22_4.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_22_4.value_counts()

99    84507
Name: AP6_22_4, dtype: int64

In [128]:
df_copy_tper_vic2.AP6_22_5.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_22_5.value_counts()

99    84507
Name: AP6_22_5, dtype: int64

In [129]:
df_copy_tper_vic2.AP6_22_6.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_22_6.value_counts()

99    84507
Name: AP6_22_6, dtype: int64

In [130]:
df_copy_tper_vic2.AP6_22_7.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_22_7.value_counts()

99    84507
Name: AP6_22_7, dtype: int64

In [131]:
df_copy_tper_vic2.AP7_1.replace(dicc, inplace = True)
df_copy_tper_vic2.AP7_1.value_counts()

2     71044
1     13424
99       39
Name: AP7_1, dtype: int64

In [132]:
df_copy_tper_vic2.AP7_2.replace(dicc, inplace = True)
df_copy_tper_vic2.AP7_2.value_counts()

2     80006
1      4471
99       30
Name: AP7_2, dtype: int64

In [133]:
df_copy_tper_vic2.AP7_3_05.replace(dicc, inplace = True)
df_copy_tper_vic2.AP7_3_05.value_counts()

2     80290
1      4152
99       65
Name: AP7_3_05, dtype: int64

In [134]:
df_copy_tper_vic2.AP7_3_06.replace(dicc, inplace = True)
df_copy_tper_vic2.AP7_3_06.value_counts()

2     83247
1      1222
99       38
Name: AP7_3_06, dtype: int64

In [135]:
df_copy_tper_vic2.AP7_3_07.replace(dicc, inplace = True)
df_copy_tper_vic2.AP7_3_07.value_counts()

2     83107
1      1316
99       84
Name: AP7_3_07, dtype: int64

In [136]:
df_copy_tper_vic2.AP7_3_08.replace(dicc, inplace = True)
df_copy_tper_vic2.AP7_3_08.value_counts()

2     82977
1      1483
99       47
Name: AP7_3_08, dtype: int64

In [137]:
df_copy_tper_vic2.AP7_3_09.replace(dicc, inplace = True)
df_copy_tper_vic2.AP7_3_09.value_counts()

2     79394
1      5066
99       47
Name: AP7_3_09, dtype: int64

In [138]:
df_copy_tper_vic2.AP7_3_10.replace(dicc, inplace = True)
df_copy_tper_vic2.AP7_3_10.value_counts()

2     82225
1      2192
99       90
Name: AP7_3_10, dtype: int64

In [139]:
df_copy_tper_vic2.AP7_3_11.replace(dicc, inplace = True)
df_copy_tper_vic2.AP7_3_11.value_counts()

2     83686
1       778
99       43
Name: AP7_3_11, dtype: int64

In [140]:
df_copy_tper_vic2.AP7_3_12.replace(dicc, inplace = True)
df_copy_tper_vic2.AP7_3_12.value_counts()

2     84385
1        75
99       47
Name: AP7_3_12, dtype: int64

In [141]:
df_copy_tper_vic2.AP7_3_13.replace(dicc, inplace = True)
df_copy_tper_vic2.AP7_3_13.value_counts()

2     84083
1       382
99       42
Name: AP7_3_13, dtype: int64

In [142]:
df_copy_tper_vic2.AP7_3_14.replace(dicc, inplace = True)
df_copy_tper_vic2.AP7_3_14.value_counts()

2     84376
99       80
1        51
Name: AP7_3_14, dtype: int64

In [143]:
df_copy_tper_vic2.AP7_3_15.replace(dicc, inplace = True)
df_copy_tper_vic2.AP7_3_15.value_counts()

2     84373
1        85
99       49
Name: AP7_3_15, dtype: int64

In [145]:
df_copy_tper_vic2.AP7_4_05.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP7_4_05.value_counts()

1     3293
2      620
3      167
4       37
5       21
6        6
10       3
8        2
7        2
36       1
Name: AP7_4_05, dtype: int64

In [146]:
df_copy_tper_vic2.AP7_4_06.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP7_4_06.value_counts()

1    1030
2     140
3      40
4       8
5       4
Name: AP7_4_06, dtype: int64

In [147]:
df_copy_tper_vic2.AP7_4_07.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP7_4_07.value_counts()

1     1130
2      156
3       25
4        3
8        1
12       1
Name: AP7_4_07, dtype: int64

In [148]:
df_copy_tper_vic2.AP7_4_08.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP7_4_08.value_counts()

1    1320
2     133
3      15
4       7
5       6
6       1
9       1
Name: AP7_4_08, dtype: int64

In [149]:
df_copy_tper_vic2.AP7_4_09.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP7_4_09.value_counts()

1     3771
2      803
3      329
4       66
5       66
6        9
10       6
7        5
8        4
20       3
15       2
36       1
13       1
Name: AP7_4_09, dtype: int64

In [150]:
df_copy_tper_vic2.AP7_4_10.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP7_4_10.value_counts()

1     1695
2      298
3      118
4       28
5       25
10       9
6        5
8        3
7        3
20       3
12       3
9        1
99       1
Name: AP7_4_10, dtype: int64

In [151]:
df_copy_tper_vic2.AP7_4_11.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP7_4_11.value_counts()

1     669
2      74
3      18
4       6
5       6
10      2
6       1
8       1
20      1
Name: AP7_4_11, dtype: int64

In [152]:
df_copy_tper_vic2.AP7_4_12.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP7_4_12.value_counts()

1    70
2     4
3     1
Name: AP7_4_12, dtype: int64

In [153]:
df_copy_tper_vic2.AP7_4_13.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP7_4_13.value_counts()

1       287
2        44
3        36
4         6
5         5
10        2
6         1
53.0      1
Name: AP7_4_13, dtype: int64

In [154]:
df_copy_tper_vic2.AP7_4_14.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP7_4_14.value_counts()

1     42
2      5
3      2
4      1
25     1
Name: AP7_4_14, dtype: int64

In [155]:
df_copy_tper_vic2.AP7_4_15.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP7_4_15.value_counts()

1    79
2     6
Name: AP7_4_15, dtype: int64

In [156]:
df_copy_tper_vic2.FAC_HOG.value_counts()

356     429
194     406
190     381
203     371
195     368
217     365
185     363
220     362
207     350
206     350
189     349
184     346
183     343
174     339
198     336
188     325
172     325
210     323
191     319
353     312
177     308
178     301
200     301
186     296
181     295
180     295
170     293
213     293
197     292
199     289
       ...
1951      3
1759      3
1684      3
1634      3
1044      3
1393      3
2018      3
1404      3
1896      3
1704      3
766       3
894       3
1838      3
1262      2
2428      2
2023      2
747       2
1529      2
2330      2
611       2
2052      2
2166      2
2354      2
750       2
1901      2
1719      2
1969      2
1806      2
952       1
2644      1
Name: FAC_HOG, Length: 1487, dtype: int64

In [158]:
df_copy_tper_vic2.FAC_HOG_AM.replace({0:'99'}, inplace = True)
df_copy_tper_vic2.FAC_HOG_AM.value_counts()

99      54507
188       193
192       180
187       174
213       169
189       163
196       163
208       154
218       154
200       151
197       148
209       144
191       144
178       143
184       142
190       142
214       141
183       138
182       137
199       135
205       135
202       134
186       134
194       132
193       130
206       129
210       129
180       126
185       125
211       124
        ...
820         3
1326        3
1876        3
1877        3
1750        3
1856        3
1739        3
2117        2
1865        2
1429        2
1224        2
2410        2
1867        2
1911        2
2288        2
1490        2
2268        2
2013        2
865         2
732         2
1769        2
1648        2
1906        2
2144        2
2103        2
1879        2
1728        1
676         1
2639        1
1334        1
Name: FAC_HOG_AM, Length: 1386, dtype: int64

In [159]:
df_copy_tper_vic2.FAC_ELE.value_counts()

356      245
712      239
390      231
354      229
378      228
388      225
396      224
366      221
412      216
414      212
380      211
344      210
370      210
420      207
348      207
368      205
360      204
406      200
376      199
372      197
660      197
450      194
618      193
384      189
382      188
340      186
174      182
434      181
392      179
362      178
        ...
2421       1
9738       1
8560       1
13896      1
5772       1
12552      1
4767       1
9930       1
3304       1
4214       1
1934       1
6092       1
2613       1
3215       1
2997       1
3087       1
5110       1
3125       1
809        1
5004       1
2895       1
7479       1
9712       1
8970       1
3765       1
6861       1
9305       1
8305       1
4364       1
5478       1
Name: FAC_ELE, Length: 3961, dtype: int64

In [161]:
df_copy_tper_vic2.FAC_ELE_AM.replace({0:'99'}, inplace = True)
df_copy_tper_vic2.FAC_ELE_AM.value_counts()

99      54507
372       102
384       100
374        98
376        96
436        95
426        93
378        90
192        87
400        84
392        84
356        84
404        83
416        82
360        81
364        80
414        79
418        79
368        78
420        78
202        77
444        77
428        77
432        76
412        76
380        76
342        75
408        75
410        75
394        74
        ...
3705        1
3696        1
3540        1
3447        1
3458        1
3459        1
3472        1
3482        1
3493        1
3496        1
3498        1
3513        1
3514        1
3522        1
3532        1
3563        1
3695        1
3566        1
3576        1
3584        1
3588        1
3590        1
3604        1
3621        1
3622        1
3652        1
3680        1
3690        1
3692        1
41          1
Name: FAC_ELE_AM, Length: 3592, dtype: int64

In [162]:
df_copy_tper_vic2.DOMINIO.value_counts()

U    40263
C    22798
R    21446
Name: DOMINIO, dtype: int64

In [163]:
df_copy_tper_vic2.ESTRATO.value_counts()

2    43824
1    17120
3    16738
4     6825
Name: ESTRATO, dtype: int64

In [164]:
df_copy_tper_vic2.EST_DIS.value_counts()

46     1643
205    1289
108    1246
140    1171
218    1153
104    1103
80     1073
212    1070
165    1014
193     971
85      968
38      961
147     929
136     894
120     868
16      852
195     852
57      846
61      830
13      818
41      795
148     791
216     775
117     743
56      730
176     727
60      724
12      720
86      718
206     717
       ...
124      74
132      69
133      68
2        67
48       63
99       59
150      59
168      58
170      54
33       51
9        51
204      50
51       43
228      41
208      40
59       39
103      29
188      28
27       27
142      24
66       20
145      18
134      18
74       16
220      13
84       11
11       10
180       9
95        9
112       8
Name: EST_DIS, Length: 238, dtype: int64

In [165]:
df_copy_tper_vic2.UPM_DIS.value_counts()

4057     28
5746     26
5526     25
8669     25
7638     24
4088     24
4134     23
2574     23
7574     23
7550     23
10561    23
2492     23
4096     23
5778     23
11525    23
7959     23
5873     23
11542    23
11512    23
1355     23
2444     23
9156     23
4110     23
4530     23
5770     23
5827     22
7571     22
2596     22
11543    22
2489     22
         ..
9984      1
1305      1
6245      1
1633      1
10809     1
508       1
10579     1
10161     1
6852      1
8878      1
8143      1
8966      1
10022     1
5113      1
10834     1
10838     1
6190      1
7492      1
7848      1
9416      1
9777      1
8098      1
10023     1
8115      1
5415      1
9569      1
9959      1
10085     1
2917      1
1298      1
Name: UPM_DIS, Length: 11726, dtype: int64

In [166]:
df_copy_tper_vic2.head()

,UPM,VIV_SEL,HOGAR,RESUL_H,R_SEL,AREAM,AP6_1_1,AP6_1_2,AP6_2,AP6_3,...,AP7_4_14,AP7_4_15,FAC_HOG,FAC_ELE,EST_DIS,UPM_DIS,DOMINIO,ESTRATO,FAC_HOG_AM,FAC_ELE_AM
0,100006,1,1,B,1,14,1,1,2,2,...,NaN,NaN,172,516,5,1,U,3,173,519
1,100006,2,1,A,2,14,1,1,1,1,...,NaN,NaN,172,344,5,1,U,3,173,346
2,100006,3,1,A,1,14,1,1,1,2,...,NaN,NaN,172,344,5,1,U,3,173,346
3,100006,4,1,A,2,14,2,NaN,1,2,...,NaN,NaN,172,344,5,1,U,3,173,346
4,100006,5,1,B,1,14,2,NaN,2,2,...,NaN,NaN,172,172,5,1,U,3,173,173

In [168]:
df_copy_tper_vic2.RESUL_H.replace({'A':'1','B':'2'},inplace=True)
df_copy_tper_vic2.RESUL_H.value_counts()

2    61014
1    23493
Name: RESUL_H, dtype: int64

In [169]:
df_copy_tper_vic2.DOMINIO.replace({'U':'1','C':'2','R':'3'},inplace=True)
df_copy_tper_vic2.DOMINIO.value_counts()

1    40263
2    22798
3    21446
Name: DOMINIO, dtype: int64

In [172]:
df_copy_tper_vic2.head()

,UPM,VIV_SEL,HOGAR,RESUL_H,R_SEL,AREAM,AP6_1_1,AP6_1_2,AP6_2,AP6_3,...,AP7_4_14,AP7_4_15,FAC_HOG,FAC_ELE,EST_DIS,UPM_DIS,DOMINIO,ESTRATO,FAC_HOG_AM,FAC_ELE_AM
0,100006,1,1,2,1,14,1,1,2,2,...,NaN,NaN,172,516,5,1,1,3,173,519
1,100006,2,1,1,2,14,1,1,1,1,...,NaN,NaN,172,344,5,1,1,3,173,346
2,100006,3,1,1,1,14,1,1,1,2,...,NaN,NaN,172,344,5,1,1,3,173,346
3,100006,4,1,1,2,14,2,NaN,1,2,...,NaN,NaN,172,344,5,1,1,3,173,346
4,100006,5,1,2,1,14,2,NaN,2,2,...,NaN,NaN,172,172,5,1,1,3,173,173

In [175]:
n = df_copy_tper_vic2.columns.values.tolist()

In [176]:
for i in n:
    l = [] 
    for j in df_copy_tper_vic2[i]:
        k = str(j)
        if(k != "nan"):
            k = int(eval(k))
            l.append(k)
        else:
            l.append("TTT")
    df_copy_tper_vic2[i] = l

In [177]:
df_copy_tper_vic2.head()

,UPM,VIV_SEL,HOGAR,RESUL_H,R_SEL,AREAM,AP6_1_1,AP6_1_2,AP6_2,AP6_3,...,AP7_4_14,AP7_4_15,FAC_HOG,FAC_ELE,EST_DIS,UPM_DIS,DOMINIO,ESTRATO,FAC_HOG_AM,FAC_ELE_AM
0,100006,1,1,2,1,14,1,1,2,2,...,TTT,TTT,172,516,5,1,1,3,173,519
1,100006,2,1,1,2,14,1,1,1,1,...,TTT,TTT,172,344,5,1,1,3,173,346
2,100006,3,1,1,1,14,1,1,1,2,...,TTT,TTT,172,344,5,1,1,3,173,346
3,100006,4,1,1,2,14,2,TTT,1,2,...,TTT,TTT,172,344,5,1,1,3,173,346
4,100006,5,1,2,1,14,2,TTT,2,2,...,TTT,TTT,172,172,5,1,1,3,173,173

In [178]:
df_copy_tper_vic2.shape

(84507, 140)

In [180]:
df_copy_tper_vic2.AP6_1_2.value_counts()

TTT    47802
1      27898
2       7156
3       1247
4        300
5         79
6         17
7          4
99         2
30         1
8          1
Name: AP6_1_2, dtype: int64

In [181]:
df_copy_tper_vic2.to_csv("TPer_vic2_Clean2015_2.csv")