In [1]:
import pandas as pd
import numpy as np

In [3]:
path = 'C:/Users/jorge/OneDrive/Escritorio/ProyectoJacobo/Envipe2016/tper_vic2_envipe2016/conjunto_de_datos/tper_vic2_envipe2016.csv'
df_tper_vic2 = pd.read_csv(path, low_memory=False)
df_tper_vic2.head()

,UPM,VIV_SEL,HOGAR,RESUL_H,R_SEL,AREAM,AP6_1_1,AP6_1_2,AP6_2,AP6_3,...,AP7_3_15,AP7_4_15,FAC_HOG,FAC_ELE,FAC_HOG_AM,FAC_ELE_AM,DOMINIO,ESTRATO,EST_DIS,UPM_DIS
0,100006,1,1,B\r,3,14\r,2,\r,1,2,...,2,\r,168,841,000168\r,000841\r,U\r,3,2,1
1,100006,2,1,B\r,1,14\r,1,01\r,2,2,...,2,\r,168,336,000168\r,000336\r,U\r,3,2,1
2,100006,3,1,B\r,4,14\r,2,\r,1,2,...,2,\r,168,673,000168\r,000673\r,U\r,3,2,1
3,100006,4,1,A\r,1,14\r,1,01\r,2,1,...,2,\r,168,168,000168\r,000168\r,U\r,3,2,1
4,100006,4,2,B\r,1,\r,2,\r,1,2,...,2,\r,168,168,\r,\r,U\r,3,2,1

In [4]:
df_tper_vic2.shape

(85744, 140)

In [5]:
df_copy_tper_vic2 = df_tper_vic2

In [6]:
df_copy_tper_vic2.shape

(85744, 140)

In [7]:
df_copy_tper_vic2.UPM.value_counts()

102347     25
1302569    25
3061498    25
3062357    24
1360015    24
1661402    24
2760517    24
3160237    24
2260397    24
1703222    23
1461346    23
704042     23
702937     23
3008605    23
2560704    23
1603866    23
2202925    23
3160258    23
2760112    23
1105675    23
1660785    23
1301325    23
1527245    23
2760633    23
660011     23
1604153    23
702488     23
1261106    23
3160220    23
2260580    23
           ..
1104134     1
2302423     1
1907834     1
2302859     1
203577      1
2302035     1
1201533     1
1701317     1
1602500     1
1903262     1
2200854     1
1101942     1
2806514     1
2502068     1
2501720     1
1702737     1
1109125     1
2700388     1
2805314     1
2804295     1
2803819     1
3200406     1
1529197     1
1908835     1
2804321     1
1901580     1
2102318     1
2805484     1
3001124     1
1201340     1
Name: UPM, Length: 11902, dtype: int64

In [8]:
df_copy_tper_vic2.VIV_SEL.value_counts()

3     10627
1     10607
4     10568
2     10563
5     10494
9      2216
8      2201
16     2196
7      2184
6      2182
10     2182
15     2179
12     2178
13     2177
14     2168
11     2164
18     2164
19     2163
17     2161
20     2080
21      196
22       73
23       15
24        5
25        1
Name: VIV_SEL, dtype: int64

In [9]:
df_copy_tper_vic2.HOGAR.value_counts()

1    84108
2     1418
3      194
4       21
5        3
Name: HOGAR, dtype: int64

In [10]:
df_copy_tper_vic2.RESUL_H.value_counts()

B\r    62354
A\r    23390
Name: RESUL_H, dtype: int64

In [11]:
df_copy_tper_vic2.RESUL_H.replace({'A\r':'A', 'B\r':'B' },inplace=True)
df_copy_tper_vic2.RESUL_H.value_counts()

B    62354
A    23390
Name: RESUL_H, dtype: int64

In [12]:
df_copy_tper_vic2.R_SEL.value_counts()

1     42961
2     29484
3      8416
4      3138
5      1080
6       380
7       162
8        77
9        24
10       11
11        5
14        2
13        2
12        2
Name: R_SEL, dtype: int64

In [14]:
df_copy_tper_vic2.AREAM.value_counts()

\r      56185
01\r     3669
03\r     2073
08\r     1538
02\r     1375
39\r     1279
33\r     1250
36\r     1222
04\r     1220
41\r     1212
14\r     1190
21\r     1113
29\r     1082
40\r      925
24\r      854
26\r      840
10\r      767
28\r      679
07\r      673
09\r      646
27\r      635
17\r      623
05\r      552
18\r      551
13\r      519
19\r      503
25\r      501
15\r      501
43\r      387
31\r      378
32\r      311
12\r      295
16\r      196
Name: AREAM, dtype: int64

In [15]:
#l=[]
#for i in df_copy_tper_vic2.AREAM:
 #   k = str(i)
  #  if(k != "nan"):
   #     k = int(eval(k))
    #    l.append(k)
    #else:
     #   l.append(k)
#df_copy_tper_vic2.AREAM = l
#df_copy_tper_vic2.AREAM.value_counts()

In [16]:
df_copy_tper_vic2.AREAM.replace({'\r':'99'} , inplace = True)
df_copy_tper_vic2.AREAM =  df_copy_tper_vic2.AREAM.replace('\r', "", regex = True)
df_copy_tper_vic2.AREAM.value_counts()

99    56185
01     3669
03     2073
08     1538
02     1375
39     1279
33     1250
36     1222
04     1220
41     1212
14     1190
21     1113
29     1082
40      925
24      854
26      840
10      767
28      679
07      673
09      646
27      635
17      623
05      552
18      551
13      519
19      503
15      501
25      501
43      387
31      378
32      311
12      295
16      196
Name: AREAM, dtype: int64

In [17]:
dicc = {9:99}

In [18]:
df_copy_tper_vic2.AP6_1_1.replace(dicc, inplace = True)
df_copy_tper_vic2.AP6_1_1.value_counts()

2     48541
1     37078
99      125
Name: AP6_1_1, dtype: int64

In [19]:
df_copy_tper_vic2.AP6_1_2.replace({'\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_1_2 =  df_copy_tper_vic2.AREAM.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_1_2.value_counts()

99    56185
01     3669
03     2073
08     1538
02     1375
39     1279
33     1250
36     1222
04     1220
41     1212
14     1190
21     1113
29     1082
40      925
24      854
26      840
10      767
28      679
07      673
09      646
27      635
17      623
05      552
18      551
13      519
19      503
15      501
25      501
43      387
31      378
32      311
12      295
16      196
Name: AP6_1_2, dtype: int64

In [20]:
df_copy_tper_vic2.AP6_2.replace(dicc, inplace = True)
df_copy_tper_vic2.AP6_2.value_counts()

2     54377
1     31322
99       45
Name: AP6_2, dtype: int64

In [21]:
df_copy_tper_vic2.AP6_3.replace(dicc, inplace = True)
df_copy_tper_vic2.AP6_3.value_counts()

2     74012
1     11694
99       38
Name: AP6_3, dtype: int64

In [22]:
df_copy_tper_vic2.AP6_4_01.replace(dicc, inplace = True)
df_copy_tper_vic2.AP6_4_01.value_counts()

2     84304
1      1421
99       19
Name: AP6_4_01, dtype: int64

In [23]:
dicc2 = {'\r':'99','1\r':'1','2\r':'2','9\r':'99'}

In [24]:
df_copy_tper_vic2.AP6_5_01.replace(dicc2, inplace = True)
df_copy_tper_vic2.AP6_5_01.value_counts()

99    84323
1       916
2       505
Name: AP6_5_01, dtype: int64

In [25]:
df_copy_tper_vic2.AP6_6_01.replace({'\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_6_01 =  df_copy_tper_vic2.AP6_6_01.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_6_01.value_counts()

99    84828
1       873
2        37
3         6
Name: AP6_6_01, dtype: int64

In [26]:
df_copy_tper_vic2.AP6_4_02.replace(dicc, inplace = True)
df_copy_tper_vic2.AP6_4_02.value_counts()

2     79939
1      5782
99       23
Name: AP6_4_02, dtype: int64

In [27]:
df_copy_tper_vic2.AP6_5_02.replace(dicc2, inplace = True)
df_copy_tper_vic2.AP6_5_02.value_counts()

99    79962
1      5186
2       596
Name: AP6_5_02, dtype: int64

In [28]:
df_copy_tper_vic2.AP6_6_02.replace({'\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_6_02 =  df_copy_tper_vic2.AP6_6_02.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_6_02.value_counts()

99    80558
1      4080
2       812
3       220
4        55
5        11
7         4
10        1
11        1
6         1
15        1
Name: AP6_6_02, dtype: int64

In [29]:
df_copy_tper_vic2.AP6_4_03.replace(dicc, inplace = True)
df_copy_tper_vic2.AP6_4_03.value_counts()

2     80798
1      4912
99       34
Name: AP6_4_03, dtype: int64

In [30]:
df_copy_tper_vic2.AP6_6_03.replace({'\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_6_03 =  df_copy_tper_vic2.AP6_6_03.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_6_03.value_counts()

99    80832
1      3915
2       657
3       216
4        54
5        47
10        6
6         6
7         3
20        2
15        2
8         2
12        1
9         1
Name: AP6_6_03, dtype: int64

In [31]:
df_copy_tper_vic2.AP6_4_04.replace(dicc, inplace = True)
df_copy_tper_vic2.AP6_4_04.value_counts()

2     81032
1      4668
99       44
Name: AP6_4_04, dtype: int64

In [32]:
df_copy_tper_vic2.AP6_6_04.replace({'\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_6_04 =  df_copy_tper_vic2.AP6_6_04.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_6_04.value_counts()

99    81076
1      3976
2       521
3       124
4        27
5        12
6         6
10        1
8         1
Name: AP6_6_04, dtype: int64

In [33]:
df_copy_tper_vic2.AP6_7.replace(dicc, inplace = True)
df_copy_tper_vic2.AP6_7.value_counts()

2     66093
1     19623
99       28
Name: AP6_7, dtype: int64

In [34]:
df_copy_tper_vic2.AP6_8.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_8 =  df_copy_tper_vic2.AP6_8.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_8.value_counts()

99    60883
2     21689
1      1959
3      1213
Name: AP6_8, dtype: int64

In [35]:
df_copy_tper_vic2.AP6_9.replace(dicc, inplace = True)
df_copy_tper_vic2.AP6_9.value_counts()

2     84785
1       922
99       37
Name: AP6_9, dtype: int64

In [36]:
df_copy_tper_vic2.AP6_10_1.replace(dicc, inplace = True)
df_copy_tper_vic2.AP6_10_1.value_counts()

2     85566
1       147
99       31
Name: AP6_10_1, dtype: int64

In [37]:
df_copy_tper_vic2.AP6_10_2.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_10_2 =  df_copy_tper_vic2.AP6_10_2.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_10_2.value_counts()

99    85597
01      136
02        8
03        2
04        1
Name: AP6_10_2, dtype: int64

In [38]:
df_copy_tper_vic2.AP6_11_1.replace(dicc2, inplace = True)
df_copy_tper_vic2.AP6_11_1.value_counts()

99    85598
1       118
2        28
Name: AP6_11_1, dtype: int64

In [39]:
df_copy_tper_vic2.AP6_12_1.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_12_1 =  df_copy_tper_vic2.AP6_12_1.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_12_1.value_counts()

99    85626
1       114
2         3
3         1
Name: AP6_12_1, dtype: int64

In [40]:
df_copy_tper_vic2.AP6_13_1_1.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_13_1_1 =  df_copy_tper_vic2.AP6_13_1_1.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_13_1_1.value_counts()

99    85628
1        75
2        30
3         6
4         3
6         1
5         1
Name: AP6_13_1_1, dtype: int64

In [41]:
df_copy_tper_vic2.AP6_13_1_2.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_13_1_2 =  df_copy_tper_vic2.AP6_13_1_2.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_13_1_2.value_counts()

99    85740
1         3
3         1
Name: AP6_13_1_2, dtype: int64

In [42]:
df_copy_tper_vic2.AP6_13_1_3.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_13_1_3 =  df_copy_tper_vic2.AP6_13_1_3.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_13_1_3.value_counts()

99    85743
1         1
Name: AP6_13_1_3, dtype: int64

In [43]:
df_copy_tper_vic2.AP6_13_1_4.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_13_1_4 =  df_copy_tper_vic2.AP6_13_1_4.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_13_1_4.value_counts()

99    85744
Name: AP6_13_1_4, dtype: int64

In [44]:
df_copy_tper_vic2.AP6_11_2.replace(dicc2, inplace = True)
df_copy_tper_vic2.AP6_11_2.value_counts()

99    85733
1         8
2         3
Name: AP6_11_2, dtype: int64

In [45]:
df_copy_tper_vic2.AP6_12_2.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_12_2 =  df_copy_tper_vic2.AP6_12_2.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_12_2.value_counts()

99    85736
1         7
2         1
Name: AP6_12_2, dtype: int64

In [46]:
df_copy_tper_vic2.AP6_13_2_1.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_13_2_1 =  df_copy_tper_vic2.AP6_13_2_1.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_13_2_1.value_counts()

99    85736
1         6
2         1
3         1
Name: AP6_13_2_1, dtype: int64

In [47]:
df_copy_tper_vic2.AP6_13_2_2.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_13_2_2 =  df_copy_tper_vic2.AP6_13_2_2.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_13_2_2.value_counts()

99    85743
1         1
Name: AP6_13_2_2, dtype: int64

In [48]:
df_copy_tper_vic2.AP6_13_2_3.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_13_2_3 =  df_copy_tper_vic2.AP6_13_2_3.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_13_2_3.value_counts()

99    85744
Name: AP6_13_2_3, dtype: int64

In [49]:
df_copy_tper_vic2.AP6_13_2_4.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_13_2_4 =  df_copy_tper_vic2.AP6_13_2_4.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_13_2_4.value_counts()

99    85744
Name: AP6_13_2_4, dtype: int64

In [50]:
df_copy_tper_vic2.AP6_11_3.replace(dicc2, inplace = True)
df_copy_tper_vic2.AP6_11_3.value_counts()

99    85741
1         3
Name: AP6_11_3, dtype: int64

In [51]:
df_copy_tper_vic2.AP6_12_3.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_12_3 =  df_copy_tper_vic2.AP6_12_3.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_12_3.value_counts()

99    85741
1         3
Name: AP6_12_3, dtype: int64

In [52]:
df_copy_tper_vic2.AP6_11_4.replace(dicc2, inplace = True)
df_copy_tper_vic2.AP6_11_4.value_counts()

99    85743
1         1
Name: AP6_11_4, dtype: int64

In [53]:
df_copy_tper_vic2.AP6_11_5.replace(dicc2, inplace = True)
df_copy_tper_vic2.AP6_11_5.value_counts()

99    85744
Name: AP6_11_5, dtype: int64

In [54]:
df_copy_tper_vic2.AP6_11_6.replace(dicc2, inplace = True)
df_copy_tper_vic2.AP6_11_6.value_counts()

99    85744
Name: AP6_11_6, dtype: int64

In [55]:
df_copy_tper_vic2.AP6_11_7.replace(dicc2, inplace = True)
df_copy_tper_vic2.AP6_11_7.value_counts()

99    85744
Name: AP6_11_7, dtype: int64

In [56]:
df_copy_tper_vic2.AP6_12_4.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_12_4 =  df_copy_tper_vic2.AP6_12_4.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_12_4.value_counts()

99    85743
1         1
Name: AP6_12_4, dtype: int64

In [57]:
df_copy_tper_vic2.AP6_12_5.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_12_5 =  df_copy_tper_vic2.AP6_12_5.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_12_5.value_counts()

99    85744
Name: AP6_12_5, dtype: int64

In [58]:
df_copy_tper_vic2.AP6_12_6.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_12_6 =  df_copy_tper_vic2.AP6_12_6.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_12_6.value_counts()

99    85744
Name: AP6_12_6, dtype: int64

In [59]:
df_copy_tper_vic2.AP6_12_7.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_12_7 =  df_copy_tper_vic2.AP6_12_7.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_12_7.value_counts()

99    85744
Name: AP6_12_7, dtype: int64

In [60]:
df_copy_tper_vic2.AP6_13_3_1.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_13_3_1 =  df_copy_tper_vic2.AP6_13_3_1.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_13_3_1.value_counts()

99    85741
1         1
2         1
3         1
Name: AP6_13_3_1, dtype: int64

In [61]:
df_copy_tper_vic2.AP6_13_3_2.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_13_3_2 =  df_copy_tper_vic2.AP6_13_3_2.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_13_3_2.value_counts()

99    85744
Name: AP6_13_3_2, dtype: int64

In [62]:
df_copy_tper_vic2.AP6_13_3_3.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_13_3_3 =  df_copy_tper_vic2.AP6_13_3_3.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_13_3_3.value_counts()

99    85744
Name: AP6_13_3_3, dtype: int64

In [63]:
df_copy_tper_vic2.AP6_13_3_4.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_13_3_4 =  df_copy_tper_vic2.AP6_13_3_4.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_13_3_4.value_counts()

99    85744
Name: AP6_13_3_4, dtype: int64

In [64]:
df_copy_tper_vic2.AP6_13_4_1.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_13_4_1 =  df_copy_tper_vic2.AP6_13_4_1.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_13_4_1.value_counts()

99    85743
2         1
Name: AP6_13_4_1, dtype: int64

In [65]:
df_copy_tper_vic2.AP6_13_5_1.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_13_5_1 =  df_copy_tper_vic2.AP6_13_5_1.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_13_5_1.value_counts()

99    85744
Name: AP6_13_5_1, dtype: int64

In [66]:
df_copy_tper_vic2.AP6_13_6_1.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_13_6_1 =  df_copy_tper_vic2.AP6_13_6_1.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_13_6_1.value_counts()

99    85744
Name: AP6_13_6_1, dtype: int64

In [67]:
df_copy_tper_vic2.AP6_13_7_1.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_13_7_1 =  df_copy_tper_vic2.AP6_13_7_1.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_13_7_1.value_counts()

99    85744
Name: AP6_13_7_1, dtype: int64

In [68]:
df_copy_tper_vic2.AP6_13_4_2.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_13_4_2 =  df_copy_tper_vic2.AP6_13_4_2.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_13_4_2.value_counts()

99    85744
Name: AP6_13_4_2, dtype: int64

In [69]:
df_copy_tper_vic2.AP6_13_5_2.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_13_5_2 =  df_copy_tper_vic2.AP6_13_5_2.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_13_5_2.value_counts()

99    85744
Name: AP6_13_5_2, dtype: int64

In [70]:
df_copy_tper_vic2.AP6_13_6_2.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_13_6_2 =  df_copy_tper_vic2.AP6_13_6_2.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_13_6_2.value_counts()

99    85744
Name: AP6_13_6_2, dtype: int64

In [71]:
df_copy_tper_vic2.AP6_13_7_2.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_13_7_2 =  df_copy_tper_vic2.AP6_13_7_2.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_13_7_2.value_counts()

99    85744
Name: AP6_13_7_2, dtype: int64

In [72]:
df_copy_tper_vic2.AP6_13_4_3.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_13_4_3 =  df_copy_tper_vic2.AP6_13_4_3.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_13_4_3.value_counts()

99    85744
Name: AP6_13_4_3, dtype: int64

In [73]:
df_copy_tper_vic2.AP6_13_5_3.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_13_5_3 =  df_copy_tper_vic2.AP6_13_5_3.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_13_5_3.value_counts()

99    85744
Name: AP6_13_5_3, dtype: int64

In [74]:
df_copy_tper_vic2.AP6_13_6_3.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_13_6_3 =  df_copy_tper_vic2.AP6_13_6_3.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_13_6_3.value_counts()

99    85744
Name: AP6_13_6_3, dtype: int64

In [75]:
df_copy_tper_vic2.AP6_13_7_3.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_13_7_3 =  df_copy_tper_vic2.AP6_13_7_3.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_13_7_3.value_counts()

99    85744
Name: AP6_13_7_3, dtype: int64

In [76]:
df_copy_tper_vic2.AP6_13_4_4.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_13_4_4 =  df_copy_tper_vic2.AP6_13_4_4.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_13_4_4.value_counts()

99    85744
Name: AP6_13_4_4, dtype: int64

In [77]:
df_copy_tper_vic2.AP6_13_5_4.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_13_5_4 =  df_copy_tper_vic2.AP6_13_5_4.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_13_5_4.value_counts()

99    85744
Name: AP6_13_5_4, dtype: int64

In [78]:
df_copy_tper_vic2.AP6_13_6_4.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_13_6_4 =  df_copy_tper_vic2.AP6_13_6_4.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_13_6_4.value_counts()

99    85744
Name: AP6_13_6_4, dtype: int64

In [79]:
df_copy_tper_vic2.AP6_13_7_4.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_13_7_4 =  df_copy_tper_vic2.AP6_13_7_4.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_13_7_4.value_counts()

99    85744
Name: AP6_13_7_4, dtype: int64

In [80]:
df_copy_tper_vic2.AP6_14.replace(dicc, inplace = True)
df_copy_tper_vic2.AP6_14.value_counts()

2     85223
1       489
99       32
Name: AP6_14, dtype: int64

In [81]:
df_copy_tper_vic2.AP6_15_1.replace(dicc, inplace = True)
df_copy_tper_vic2.AP6_15_1.value_counts()

2     85606
1       106
99       32
Name: AP6_15_1, dtype: int64

In [82]:
df_copy_tper_vic2.AP6_15_2.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_15_2 =  df_copy_tper_vic2.AP6_15_2.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_15_2.value_counts()

99    85638
01       97
02        9
Name: AP6_15_2, dtype: int64

In [83]:
df_copy_tper_vic2.AP6_16_1.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_16_1 =  df_copy_tper_vic2.AP6_16_1.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_16_1.value_counts()

99    85638
1        89
2        17
Name: AP6_16_1, dtype: int64

In [84]:
df_copy_tper_vic2.AP6_16_2.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_16_2 =  df_copy_tper_vic2.AP6_16_2.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_16_2.value_counts()

99    85735
1         7
2         2
Name: AP6_16_2, dtype: int64

In [85]:
df_copy_tper_vic2.AP6_16_3.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_16_3 =  df_copy_tper_vic2.AP6_16_3.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_16_3.value_counts()

99    85744
Name: AP6_16_3, dtype: int64

In [86]:
df_copy_tper_vic2.AP6_16_3.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_16_3 =  df_copy_tper_vic2.AP6_16_3.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_16_3.value_counts()

99    85744
Name: AP6_16_3, dtype: int64

In [87]:
df_copy_tper_vic2.AP6_16_4.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_16_4 =  df_copy_tper_vic2.AP6_16_4.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_16_4.value_counts()

99    85744
Name: AP6_16_4, dtype: int64

In [88]:
df_copy_tper_vic2.AP6_16_5.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_16_5 =  df_copy_tper_vic2.AP6_16_5.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_16_5.value_counts()

99    85744
Name: AP6_16_5, dtype: int64

In [89]:
df_copy_tper_vic2.AP6_16_6.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_16_6 =  df_copy_tper_vic2.AP6_16_6.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_16_6.value_counts()

99    85744
Name: AP6_16_6, dtype: int64

In [90]:
df_copy_tper_vic2.AP6_16_7.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_16_7 =  df_copy_tper_vic2.AP6_16_7.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_16_7.value_counts()

99    85744
Name: AP6_16_7, dtype: int64

In [91]:
df_copy_tper_vic2.AP6_17_1.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_17_1 =  df_copy_tper_vic2.AP6_17_1.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_17_1.value_counts()

99    85655
1        63
2        14
3        12
Name: AP6_17_1, dtype: int64

In [92]:
df_copy_tper_vic2.AP6_17_2.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_17_2 =  df_copy_tper_vic2.AP6_17_2.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_17_2.value_counts()

99    85737
1         4
2         2
3         1
Name: AP6_17_2, dtype: int64

In [93]:
df_copy_tper_vic2.AP6_17_3.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_17_3 =  df_copy_tper_vic2.AP6_17_3.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_17_3.value_counts()

99    85744
Name: AP6_17_3, dtype: int64

In [94]:
df_copy_tper_vic2.AP6_17_4.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_17_4 =  df_copy_tper_vic2.AP6_17_4.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_17_4.value_counts()

99    85744
Name: AP6_17_4, dtype: int64

In [95]:
df_copy_tper_vic2.AP6_17_5.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_17_5 =  df_copy_tper_vic2.AP6_17_5.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_17_5.value_counts()

99    85744
Name: AP6_17_5, dtype: int64

In [96]:
df_copy_tper_vic2.AP6_17_6.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_17_6 =  df_copy_tper_vic2.AP6_17_6.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_17_6.value_counts()

99    85744
Name: AP6_17_6, dtype: int64

In [97]:
df_copy_tper_vic2.AP6_17_7.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_17_7 =  df_copy_tper_vic2.AP6_17_7.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_17_7.value_counts()

99    85744
Name: AP6_17_7, dtype: int64

In [98]:
df_copy_tper_vic2.AP6_18_1.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_18_1 =  df_copy_tper_vic2.AP6_18_1.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_18_1.value_counts()

99    85734
1        10
Name: AP6_18_1, dtype: int64

In [99]:
df_copy_tper_vic2.AP6_18_2.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_18_2 =  df_copy_tper_vic2.AP6_18_2.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_18_2.value_counts()

99    85743
1         1
Name: AP6_18_2, dtype: int64

In [100]:
df_copy_tper_vic2.AP6_18_3.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_18_3 =  df_copy_tper_vic2.AP6_18_3.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_18_3.value_counts()

99    85744
Name: AP6_18_3, dtype: int64

In [101]:
df_copy_tper_vic2.AP6_18_4.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_18_4 =  df_copy_tper_vic2.AP6_18_4.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_18_4.value_counts()

99    85744
Name: AP6_18_4, dtype: int64

In [102]:
df_copy_tper_vic2.AP6_18_5.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_18_5 =  df_copy_tper_vic2.AP6_18_5.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_18_5.value_counts()

99    85744
Name: AP6_18_5, dtype: int64

In [103]:
df_copy_tper_vic2.AP6_18_6.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_18_6 =  df_copy_tper_vic2.AP6_18_6.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_18_6.value_counts()

99    85744
Name: AP6_18_6, dtype: int64

In [104]:
df_copy_tper_vic2.AP6_18_7.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_18_7 =  df_copy_tper_vic2.AP6_18_7.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_18_7.value_counts()

99    85744
Name: AP6_18_7, dtype: int64

In [105]:
df_copy_tper_vic2.AP6_19.replace(dicc, inplace = True)
df_copy_tper_vic2.AP6_19.value_counts()

2     85098
1       609
99       37
Name: AP6_19, dtype: int64

In [106]:
df_copy_tper_vic2.AP6_20_1.replace(dicc, inplace = True)
df_copy_tper_vic2.AP6_20_1.value_counts()

2     85626
1        82
99       36
Name: AP6_20_1, dtype: int64

In [107]:
df_copy_tper_vic2.AP6_20_2.value_counts()

\r      85662
01\r       78
02\r        4
Name: AP6_20_2, dtype: int64

In [108]:
df_copy_tper_vic2.AP6_20_2.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_20_2 =  df_copy_tper_vic2.AP6_20_2.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_20_2.value_counts()

99    85662
01       78
02        4
Name: AP6_20_2, dtype: int64

In [109]:
df_copy_tper_vic2.AP6_21_1.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_21_1 =  df_copy_tper_vic2.AP6_21_1.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_21_1.value_counts()

99    85663
1        59
2        22
Name: AP6_21_1, dtype: int64

In [110]:
df_copy_tper_vic2.AP6_21_2.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_21_2 =  df_copy_tper_vic2.AP6_21_2.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_21_2.value_counts()

99    85740
1         2
2         2
Name: AP6_21_2, dtype: int64

In [111]:
df_copy_tper_vic2.AP6_21_3.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_21_3 =  df_copy_tper_vic2.AP6_21_3.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_21_3.value_counts()

99    85744
Name: AP6_21_3, dtype: int64

In [112]:
df_copy_tper_vic2.AP6_21_4.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_21_4 =  df_copy_tper_vic2.AP6_21_4.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_21_4.value_counts()

99    85744
Name: AP6_21_4, dtype: int64

In [113]:
df_copy_tper_vic2.AP6_21_5.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_21_5 =  df_copy_tper_vic2.AP6_21_5.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_21_5.value_counts()

99    85744
Name: AP6_21_5, dtype: int64

In [114]:
df_copy_tper_vic2.AP6_21_6.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_21_6 =  df_copy_tper_vic2.AP6_21_6.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_21_6.value_counts()

99    85744
Name: AP6_21_6, dtype: int64

In [115]:
df_copy_tper_vic2.AP6_21_7.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_21_7 =  df_copy_tper_vic2.AP6_21_7.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_21_7.value_counts()

99    85744
Name: AP6_21_7, dtype: int64

In [116]:
df_copy_tper_vic2.AP6_22_1.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_22_1 =  df_copy_tper_vic2.AP6_22_1.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_22_1.value_counts()

99    85732
1        11
2         1
Name: AP6_22_1, dtype: int64

In [117]:
df_copy_tper_vic2.AP6_22_2.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_22_2=  df_copy_tper_vic2.AP6_22_2.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_22_2.value_counts()

99    85743
1         1
Name: AP6_22_2, dtype: int64

In [118]:
df_copy_tper_vic2.AP6_22_3.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_22_3 =  df_copy_tper_vic2.AP6_22_3.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_22_3.value_counts()

99    85744
Name: AP6_22_3, dtype: int64

In [119]:
df_copy_tper_vic2.AP6_22_4.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_22_4 =  df_copy_tper_vic2.AP6_22_4.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_22_4.value_counts()

99    85744
Name: AP6_22_4, dtype: int64

In [120]:
df_copy_tper_vic2.AP6_22_5.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_22_5 =  df_copy_tper_vic2.AP6_22_5.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_22_5.value_counts()

99    85744
Name: AP6_22_5, dtype: int64

In [121]:
df_copy_tper_vic2.AP6_22_6.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_22_6 =  df_copy_tper_vic2.AP6_22_6.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_22_6.value_counts()

99    85744
Name: AP6_22_6, dtype: int64

In [122]:
df_copy_tper_vic2.AP6_22_7.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP6_22_7 =  df_copy_tper_vic2.AP6_22_7.replace('\r', "", regex = True)
df_copy_tper_vic2.AP6_22_7.value_counts()

99    85744
Name: AP6_22_7, dtype: int64

In [123]:
df_copy_tper_vic2.AP7_1.replace(dicc, inplace = True)
df_copy_tper_vic2.AP7_1.value_counts()

2     72116
1     13598
99       30
Name: AP7_1, dtype: int64

In [124]:
df_copy_tper_vic2.AP7_2.replace(dicc, inplace = True)
df_copy_tper_vic2.AP7_2.value_counts()

2     80727
1      4989
99       28
Name: AP7_2, dtype: int64

In [125]:
df_copy_tper_vic2.AP7_3_05.replace(dicc, inplace = True)
df_copy_tper_vic2.AP7_3_05.value_counts()

2     81648
1      4072
99       24
Name: AP7_3_05, dtype: int64

In [126]:
df_copy_tper_vic2.AP7_3_06.replace(dicc, inplace = True)
df_copy_tper_vic2.AP7_3_06.value_counts()

2     84665
1      1047
99       32
Name: AP7_3_06, dtype: int64

In [127]:
df_copy_tper_vic2.AP7_3_07.replace(dicc, inplace = True)
df_copy_tper_vic2.AP7_3_07.value_counts()

2     84361
1      1350
99       33
Name: AP7_3_07, dtype: int64

In [128]:
df_copy_tper_vic2.AP7_3_08.replace(dicc, inplace = True)
df_copy_tper_vic2.AP7_3_08.value_counts()

2     84288
1      1430
99       26
Name: AP7_3_08, dtype: int64

In [129]:
df_copy_tper_vic2.AP7_3_09.replace(dicc, inplace = True)
df_copy_tper_vic2.AP7_3_09.value_counts()

2     80473
1      5246
99       25
Name: AP7_3_09, dtype: int64

In [130]:
df_copy_tper_vic2.AP7_3_10.replace(dicc, inplace = True)
df_copy_tper_vic2.AP7_3_10.value_counts()

2     83690
1      2030
99       24
Name: AP7_3_10, dtype: int64

In [131]:
df_copy_tper_vic2.AP7_3_11.replace(dicc, inplace = True)
df_copy_tper_vic2.AP7_3_11.value_counts()

2     84758
1       959
99       27
Name: AP7_3_11, dtype: int64

In [132]:
df_copy_tper_vic2.AP7_3_12.replace(dicc, inplace = True)
df_copy_tper_vic2.AP7_3_12.value_counts()

2     85660
1        57
99       27
Name: AP7_3_12, dtype: int64

In [133]:
df_copy_tper_vic2.AP7_3_13.replace(dicc, inplace = True)
df_copy_tper_vic2.AP7_3_13.value_counts()

2     85314
1       399
99       31
Name: AP7_3_13, dtype: int64

In [134]:
df_copy_tper_vic2.AP7_3_14.replace(dicc, inplace = True)
df_copy_tper_vic2.AP7_3_14.value_counts()

2     85644
1        68
99       32
Name: AP7_3_14, dtype: int64

In [135]:
df_copy_tper_vic2.AP7_3_15.replace(dicc, inplace = True)
df_copy_tper_vic2.AP7_3_15.value_counts()

2     85415
99      247
1        82
Name: AP7_3_15, dtype: int64

In [136]:
df_copy_tper_vic2.AP7_4_05.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP7_4_05 =  df_copy_tper_vic2.AP7_4_05.replace('\r', "", regex = True)
df_copy_tper_vic2.AP7_4_05.value_counts()

99    81672
1      3486
2       455
3        95
4        22
5        10
7         2
20        1
6         1
Name: AP7_4_05, dtype: int64

In [137]:
df_copy_tper_vic2.AP7_4_06.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP7_4_06 =  df_copy_tper_vic2.AP7_4_06.replace('\r', "", regex = True)
df_copy_tper_vic2.AP7_4_06.value_counts()

99    84698
1       934
2        87
3        13
4        10
20        1
5         1
Name: AP7_4_06, dtype: int64

In [138]:
df_copy_tper_vic2.AP7_4_07.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP7_4_07 =  df_copy_tper_vic2.AP7_4_07.replace('\r', "", regex = True)
df_copy_tper_vic2.AP7_4_07.value_counts()

99    84394
1      1186
2       135
3        25
6         2
4         1
5         1
Name: AP7_4_07, dtype: int64

In [139]:
df_copy_tper_vic2.AP7_4_08.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP7_4_08 =  df_copy_tper_vic2.AP7_4_08.replace('\r', "", regex = True)
df_copy_tper_vic2.AP7_4_08.value_counts()

99    84314
1      1287
2       109
3        23
4         6
5         2
10        1
6         1
8         1
Name: AP7_4_08, dtype: int64

In [140]:
df_copy_tper_vic2.AP7_4_09.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP7_4_09 =  df_copy_tper_vic2.AP7_4_09.replace('\r', "", regex = True)
df_copy_tper_vic2.AP7_4_09.value_counts()

99    80499
1      4314
2       612
3       213
4        57
5        30
10        8
6         8
8         2
20        1
Name: AP7_4_09, dtype: int64

In [141]:
df_copy_tper_vic2.AP7_4_10.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP7_4_10 =  df_copy_tper_vic2.AP7_4_10.replace('\r', "", regex = True)
df_copy_tper_vic2.AP7_4_10.value_counts()

99    83714
1      1717
2       206
3        58
5        20
4        17
10        6
7         2
20        1
6         1
30        1
8         1
Name: AP7_4_10, dtype: int64

In [142]:
df_copy_tper_vic2.AP7_4_11.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP7_4_11 =  df_copy_tper_vic2.AP7_4_11.replace('\r', "", regex = True)
df_copy_tper_vic2.AP7_4_11.value_counts()

99    84785
1       853
2        67
3        20
4         8
5         6
10        2
6         2
25        1
Name: AP7_4_11, dtype: int64

In [143]:
df_copy_tper_vic2.AP7_4_12.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP7_4_12 =  df_copy_tper_vic2.AP7_4_12.replace('\r', "", regex = True)
df_copy_tper_vic2.AP7_4_12.value_counts()

99    85687
1        52
2         4
3         1
Name: AP7_4_12, dtype: int64

In [144]:
df_copy_tper_vic2.AP7_4_13.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP7_4_13 =  df_copy_tper_vic2.AP7_4_13.replace('\r', "", regex = True)
df_copy_tper_vic2.AP7_4_13.value_counts()

99    85345
1       312
2        45
3        20
4        11
5         5
12        1
7         1
10        1
6         1
15        1
8         1
Name: AP7_4_13, dtype: int64

In [145]:
df_copy_tper_vic2.AP7_4_14.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP7_4_14 =  df_copy_tper_vic2.AP7_4_14.replace('\r', "", regex = True)
df_copy_tper_vic2.AP7_4_14.value_counts()

99    85676
1        53
2        10
4         2
3         2
10        1
Name: AP7_4_14, dtype: int64

In [146]:
df_copy_tper_vic2.AP7_4_15.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.AP7_4_15 =  df_copy_tper_vic2.AP7_4_15.replace('\r', "", regex = True)
df_copy_tper_vic2.AP7_4_15.value_counts()

99    85662
1        77
2         3
10        1
3         1
Name: AP7_4_15, dtype: int64

In [147]:
df_copy_tper_vic2.FAC_HOG.value_counts()

187     559
191     513
185     429
192     420
167     391
189     385
166     384
168     379
181     376
207     371
178     366
213     362
203     342
175     336
200     334
182     333
190     330
194     328
204     326
218     324
230     323
197     322
170     321
186     319
188     316
180     313
195     311
206     306
173     304
177     304
       ...
1448      3
1023      2
1934      2
928       2
1121      2
2080      2
843       2
1431      2
2374      2
1757      2
869       2
822       2
2064      2
43        2
1745      2
1991      2
813       2
1032      2
1079      2
1784      2
1426      1
962       1
1170      1
969       1
1038      1
1854      1
2398      1
1236      1
2658      1
1976      1
Name: FAC_HOG, Length: 1457, dtype: int64

In [148]:
df_copy_tper_vic2.FAC_HOG_AM.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.FAC_HOG_AM =  df_copy_tper_vic2.FAC_HOG_AM.replace('\r', "", regex = True)
df_copy_tper_vic2.FAC_HOG_AM.value_counts()

99        56185
000180      194
000187      169
000193      168
000185      168
000191      168
000178      163
000168      157
000194      151
000189      148
000183      147
000166      142
000186      138
000184      137
000203      131
000169      131
000207      128
000188      126
000192      126
000181      125
000196      124
000182      123
000200      121
000211      121
000155      120
000190      120
000160      118
000228      118
000195      116
000170      114
          ...
000836        3
000575        3
000529        3
001814        3
002283        3
000858        3
002374        2
000813        2
001784        2
000557        2
001934        2
001745        2
000869        2
000942        2
001991        2
000724        2
002064        2
001079        2
001431        2
001121        2
001757        2
001854        1
001976        1
001170        1
002398        1
000962        1
000969        1
001087        1
001426        1
002658        1
Name: FAC_HOG_AM, Length: 1376, dtype: int64

In [149]:
df_copy_tper_vic2.FAC_ELE.value_counts()

382      227
334      184
373      179
356      160
384      157
374      157
413      148
378      147
369      142
389      141
427      140
362      139
350      139
566      139
428      138
336      136
409      136
375      136
407      135
379      135
318      133
388      131
381      130
340      130
401      130
371      130
335      127
180      127
787      127
361      127
        ...
5478       1
4069       1
5350       1
10504      1
3301       1
5094       1
2981       1
6887       1
4431       1
3917       1
10056      1
2957       1
4775       1
5735       1
7718       1
3428       1
5351       1
3236       1
2788       1
3277       1
5454       1
6182       1
4519       1
3533       1
5582       1
6566       1
7695       1
4391       1
2340       1
4649       1
Name: FAC_ELE, Length: 4676, dtype: int64

In [150]:
df_copy_tper_vic2.FAC_ELE_AM.replace({'\r':'99','9\r':'99'}, inplace = True)
df_copy_tper_vic2.FAC_ELE_AM =  df_copy_tper_vic2.FAC_ELE_AM.replace('\r', "", regex = True)
df_copy_tper_vic2.FAC_ELE_AM.value_counts()

99        56185
000388       59
000384       58
000368       55
000382       55
000387       54
000356       54
000185       52
000372       52
000390       51
000360       50
000386       49
000166       49
000366       48
000335       48
000369       47
000374       47
000191       47
000200       47
000418       47
000193       46
000178       46
000423       45
000361       45
000378       45
000414       45
000348       44
000413       44
000352       44
000319       44
          ...
005926        1
007145        1
006138        1
001879        1
003333        1
002960        1
005587        1
004912        1
002269        1
004031        1
003428        1
003170        1
002300        1
006135        1
001857        1
008636        1
007121        1
003674        1
002370        1
002239        1
004129        1
002502        1
015275        1
001830        1
006032        1
005954        1
005289        1
004989        1
007621        1
009374        1
Name: FAC_ELE_AM, Length: 4187, dtype: int64

In [151]:
df_copy_tper_vic2.DOMINIO =  df_copy_tper_vic2.DOMINIO.replace('\r', "", regex = True)
df_copy_tper_vic2.DOMINIO.value_counts()

U    41941
C    22739
R    21064
Name: DOMINIO, dtype: int64

In [152]:
df_copy_tper_vic2.ESTRATO.value_counts()

2    44412
1    17112
3    17047
4     7173
Name: ESTRATO, dtype: int64

In [153]:
df_copy_tper_vic2.EST_DIS.value_counts()

123    1576
351    1253
566    1112
209    1052
246     956
478     879
320     879
147     849
371     805
391     743
225     731
146     696
229     687
286     647
319     625
420     570
2       565
321     552
439     539
512     537
287     536
62      534
125     528
226     524
479     523
509     518
569     487
165     482
91      479
595     473
       ...
273      10
17       10
335      10
440      10
546       9
136       9
198       9
548       9
325       9
547       9
160       9
12        9
266       9
401       9
210       9
545       8
73        8
139       8
498       8
551       8
486       8
457       8
26        8
575       8
487       7
422       7
528       7
68        7
296       6
194       3
Name: EST_DIS, Length: 595, dtype: int64

In [154]:
df_copy_tper_vic2.UPM_DIS.value_counts()

4649     25
11233    25
284      25
9867     24
11248    24
4670     24
8112     24
5956     24
11711    24
9331     23
5576     23
5847     23
2535     23
8080     23
5936     23
9833     23
4594     23
11710    23
11162    23
4113     23
8124     23
5130     23
2484     23
6306     23
5838     23
9876     23
11713    23
4477     23
2301     23
2507     23
         ..
5109      1
9038      1
10397     1
7841      1
10195     1
10928     1
10247     1
10257     1
10181     1
8530      1
6915      1
8332      1
9680      1
4312      1
519       1
6630      1
11347     1
6578      1
4166      1
4323      1
10090     1
6332      1
11769     1
10218     1
10292     1
7423      1
11299     1
6193      1
5596      1
10217     1
Name: UPM_DIS, Length: 11902, dtype: int64

In [155]:
df_copy_tper_vic2.head()

,UPM,VIV_SEL,HOGAR,RESUL_H,R_SEL,AREAM,AP6_1_1,AP6_1_2,AP6_2,AP6_3,...,AP7_3_15,AP7_4_15,FAC_HOG,FAC_ELE,FAC_HOG_AM,FAC_ELE_AM,DOMINIO,ESTRATO,EST_DIS,UPM_DIS
0,100006,1,1,B,3,14,2,14,1,2,...,2,99,168,841,000168,000841,U,3,2,1
1,100006,2,1,B,1,14,1,14,2,2,...,2,99,168,336,000168,000336,U,3,2,1
2,100006,3,1,B,4,14,2,14,1,2,...,2,99,168,673,000168,000673,U,3,2,1
3,100006,4,1,A,1,14,1,14,2,1,...,2,99,168,168,000168,000168,U,3,2,1
4,100006,4,2,B,1,99,2,99,1,2,...,2,99,168,168,99,99,U,3,2,1

In [157]:
df_copy_tper_vic2.RESUL_H.replace({'A':'1','B':'2'},inplace=True)
df_copy_tper_vic2.RESUL_H.value_counts()

2    62354
1    23390
Name: RESUL_H, dtype: int64

In [158]:
df_copy_tper_vic2.DOMINIO.replace({'U':'1','C':'2','R':'3'},inplace=True)
df_copy_tper_vic2.DOMINIO.value_counts()

1    41941
2    22739
3    21064
Name: DOMINIO, dtype: int64

In [159]:
df_copy_tper_vic2.to_csv("TPer_vic2_Clean2016.csv")