In [1]:
import pandas as pd
import numpy as np

In [2]:
path = 'C:/Users/jorge/OneDrive/Escritorio/ProyectoJacobo/EnvipeLimpia/TPer_vic2_Clean2014.csv'
df_tper_vic2 = pd.read_csv(path, low_memory=False)
df_tper_vic2.head()

,CONTROL,VIV_SEL,HOGAR,RESUL_H,R_SEL,AREAM,AP6_1_1,AP6_1_2,AP6_2,AP6_3,...,AP7_4_14,AP7_3_15,AP7_4_15,FAC_HOG,FAC_ELE,DOM,EST,UPM,FAC_HOG_AM,FAC_ELE_AM
0,100001,1,1,B,1,14.0,2,NaN,2,2,...,NaN,2,NaN,191,382,U,5,1,192.0,384.0
1,100001,2,1,B,2,14.0,2,NaN,2,2,...,NaN,2,NaN,191,382,U,5,1,192.0,384.0
2,100001,3,1,B,1,14.0,1,1.0,1,2,...,NaN,2,NaN,191,764,U,5,1,192.0,768.0
3,100001,4,1,A,1,14.0,2,NaN,1,2,...,NaN,2,NaN,191,764,U,5,1,192.0,768.0
4,100001,5,1,B,3,14.0,1,1.0,2,2,...,NaN,2,NaN,191,573,U,5,1,192.0,576.0

In [3]:
df_tper_vic2.shape

(84629, 128)

In [4]:
df_copy_tper_vic2 = df_tper_vic2

In [5]:
df_copy_tper_vic2.shape

(84629, 128)

In [6]:
df_copy_tper_vic2.CONTROL.value_counts()

2160007    42
1350004    40
1350038    40
2190026    40
1350015    39
1350026    39
2150047    39
1390014    39
1350031    38
2150044    38
3060041    38
2150051    38
2660008    38
2150003    38
1650057    38
1360033    38
1360020    37
1350016    37
1390012    37
2150032    37
3050124    37
1060015    37
2100015    36
2100019    36
2760037    36
2860014    36
1390005    36
2860002    36
1390025    36
1760013    35
           ..
1240279     1
2840216     1
2840145     1
1940234     1
2840265     1
1940104     1
2840174     1
440195      1
3140364     1
2850145     1
540352      1
3140221     1
1540324     1
750027      1
2340090     1
440098      1
2350126     1
2840370     1
1240235     1
3140019     1
2840274     1
1940187     1
590009      1
2840230     1
2140196     1
1740309     1
2140090     1
2840268     1
2840396     1
2500341     1
Name: CONTROL, Length: 11408, dtype: int64

In [7]:
df_copy_tper_vic2.VIV_SEL.value_counts()

2     10104
4     10084
5     10076
3     10066
1     10060
7      2341
6      2330
9      2321
8      2301
10     2296
14     2216
15     2216
18     2202
16     2197
11     2193
12     2185
17     2175
13     2171
19     2161
20     2051
21      150
22       65
32       41
25       41
24       41
38       40
23       39
27       38
33       38
28       37
29       37
26       37
35       36
30       36
34       36
31       35
36       35
37       34
39       30
40       30
41        2
43        1
44        1
45        1
42        1
46        1
Name: VIV_SEL, dtype: int64

In [8]:
df_copy_tper_vic2.RESUL_H.value_counts()

B    61714
A    22915
Name: RESUL_H, dtype: int64

In [9]:
df_copy_tper_vic2.RESUL_H.replace({'A\r':'A', 'B\r':'B' },inplace=True)
df_copy_tper_vic2.RESUL_H.value_counts()

B    61714
A    22915
Name: RESUL_H, dtype: int64

In [10]:
df_copy_tper_vic2.R_SEL.value_counts()

1     41244
2     29614
3      8429
4      3343
5      1184
6       445
7       198
8        93
9        38
10       25
11        8
12        3
14        2
13        2
18        1
Name: R_SEL, dtype: int64

In [11]:
df_copy_tper_vic2.AREAM.value_counts()

1.0     3719
3.0     2119
8.0     1510
2.0     1408
39.0    1315
33.0    1231
14.0    1230
4.0     1207
36.0    1198
21.0    1125
41.0    1124
29.0    1107
40.0     859
24.0     858
26.0     817
7.0      709
27.0     627
9.0      625
28.0     625
5.0      618
17.0     584
18.0     557
10.0     551
15.0     527
25.0     490
13.0     463
19.0     445
31.0     350
43.0     344
32.0     309
12.0     260
16.0     112
Name: AREAM, dtype: int64

In [12]:
diccDec = {0.0:'0',1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',7.0:'7',8.0:'8',9.0:'9',10.0:'10',11.0:'11',12.0:'12',
           13.0:'13',14.0:'14',15.0:'15',16.0:'16',17.0:'17',18.0:'18',19.0:'19',20.0:'20',21.0:'21',22.0:'22',23.0:'23',
           24.0:'24',25.0:'25',26.0:'26',27.0:'27',28.0:'28',29.0:'29',30.0:'30',31.0:'31',32.0:'32',33.0:'33',34.0:'34',
           35.0:'35',36.0:'36',37.0:'37',38.0:'38',39.0:'39',40.0:'40',41.0:'41',42.0:'42',43.0:'43',44.0:'44',45.0:'45',
           50.0:'50',60.0:'60',99.0:'99'}

In [13]:
df_copy_tper_vic2.AREAM.replace(diccDec , inplace = True)
df_copy_tper_vic2.AREAM.value_counts()

1     3719
3     2119
8     1510
2     1408
39    1315
33    1231
14    1230
4     1207
36    1198
21    1125
41    1124
29    1107
40     859
24     858
26     817
7      709
27     627
28     625
9      625
5      618
17     584
18     557
10     551
15     527
25     490
13     463
19     445
31     350
43     344
32     309
12     260
16     112
Name: AREAM, dtype: int64

In [14]:
dicc = {9:99}

In [15]:
df_copy_tper_vic2.AP6_1_1.replace(dicc, inplace = True)
df_copy_tper_vic2.AP6_1_1.value_counts()

2     47742
1     36810
99       77
Name: AP6_1_1, dtype: int64

In [16]:
df_copy_tper_vic2.AP6_1_2.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_1_2.value_counts()

1     28174
2      6862
3      1394
4       268
5        66
6        24
7         9
99        5
10        4
8         3
9         1
Name: AP6_1_2, dtype: int64

In [17]:
df_copy_tper_vic2.AP6_2.replace(dicc, inplace = True)
df_copy_tper_vic2.AP6_2.value_counts()

2     56461
1     28107
99       61
Name: AP6_2, dtype: int64

In [18]:
df_copy_tper_vic2.AP6_3.replace(dicc, inplace = True)
df_copy_tper_vic2.AP6_3.value_counts()

2     74229
1     10372
99       28
Name: AP6_3, dtype: int64

In [19]:
df_copy_tper_vic2.AP6_4_01.replace(dicc, inplace = True)
df_copy_tper_vic2.AP6_4_01.value_counts()

2     83165
1      1386
99       78
Name: AP6_4_01, dtype: int64

In [20]:
dicc2 = {'\r':'99','1\r':'1','2\r':'2','9\r':'99'}

In [21]:
df_copy_tper_vic2.AP6_5_01.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_5_01.value_counts()

1    1151
2     235
Name: AP6_5_01, dtype: int64

In [22]:
df_copy_tper_vic2.AP6_6_01.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_6_01.value_counts()

1    1076
2      68
3       6
8       1
Name: AP6_6_01, dtype: int64

In [23]:
df_copy_tper_vic2.AP6_4_02.replace(dicc, inplace = True)
df_copy_tper_vic2.AP6_4_02.value_counts()

2     78679
1      5906
99       44
Name: AP6_4_02, dtype: int64

In [24]:
df_copy_tper_vic2.AP6_5_02.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_5_02.value_counts()

1     5413
2      492
99       1
Name: AP6_5_02, dtype: int64

In [25]:
df_copy_tper_vic2.AP6_6_02.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_6_02.value_counts()

1     4004
2     1026
3      280
4       62
5       27
6        7
10       4
7        1
15       1
12       1
Name: AP6_6_02, dtype: int64

In [26]:
df_copy_tper_vic2.AP6_4_03.replace(dicc, inplace = True)
df_copy_tper_vic2.AP6_4_03.value_counts()

2     79254
1      5335
99       40
Name: AP6_4_03, dtype: int64

In [27]:
df_copy_tper_vic2.AP6_6_03.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_6_03.value_counts()

1     3617
2     1011
3      443
4      124
5       79
10      16
6       14
12       9
8        5
15       5
20       3
7        3
25       1
40       1
36       1
18       1
99       1
30       1
Name: AP6_6_03, dtype: int64

In [28]:
df_copy_tper_vic2.AP6_4_04.replace(dicc, inplace = True)
df_copy_tper_vic2.AP6_4_04.value_counts()

2     79832
1      4698
99       99
Name: AP6_4_04, dtype: int64

In [29]:
df_copy_tper_vic2.AP6_6_04.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_6_04.value_counts()

1     3873
2      634
3      129
4       34
5       23
6        4
10       1
Name: AP6_6_04, dtype: int64

In [30]:
df_copy_tper_vic2.AP6_7.replace(dicc, inplace = True)
df_copy_tper_vic2.AP6_7.value_counts()

2     65453
1     19146
99       30
Name: AP6_7, dtype: int64

In [31]:
df_copy_tper_vic2.AP6_8.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_8.value_counts()

2     22348
1      2430
3      2095
99      129
Name: AP6_8, dtype: int64

In [32]:
df_copy_tper_vic2.AP6_9.replace(dicc, inplace = True)
df_copy_tper_vic2.AP6_9.value_counts()

2     83794
1       804
99       31
Name: AP6_9, dtype: int64

In [33]:
df_copy_tper_vic2.AP6_10_1.replace(dicc, inplace = True)
df_copy_tper_vic2.AP6_10_1.value_counts()

2     84295
1       261
99       73
Name: AP6_10_1, dtype: int64

In [34]:
df_copy_tper_vic2.AP6_10_2.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_10_2.value_counts()

1    237
2     22
3      1
4      1
Name: AP6_10_2, dtype: int64

In [35]:
df_copy_tper_vic2.AP6_11_1.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_11_1.value_counts()

1    222
2     39
Name: AP6_11_1, dtype: int64

In [36]:
df_copy_tper_vic2.AP6_12_1.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_12_1.value_counts()

1    212
2      7
3      2
4      1
Name: AP6_12_1, dtype: int64

In [37]:
df_copy_tper_vic2.AP6_12A1_1.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_12A1_1.value_counts()

1     124
2      47
3      15
99     14
4      12
5       9
6       1
Name: AP6_12A1_1, dtype: int64

In [38]:
df_copy_tper_vic2.AP6_12A1_2.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_12A1_2.value_counts()

1     6
2     2
99    1
3     1
Name: AP6_12A1_2, dtype: int64

In [39]:
df_copy_tper_vic2.AP6_12A1_3.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_12A1_3.value_counts()

3    1
1    1
2    1
Name: AP6_12A1_3, dtype: int64

In [40]:
df_copy_tper_vic2.AP6_12A1_4.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_12A1_4.value_counts()

2    1
Name: AP6_12A1_4, dtype: int64

In [41]:
df_copy_tper_vic2.AP6_11_2.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_11_2.value_counts()

1    16
2     8
Name: AP6_11_2, dtype: int64

In [42]:
df_copy_tper_vic2.AP6_12_2.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_12_2.value_counts()

1    15
3     1
Name: AP6_12_2, dtype: int64

In [43]:
df_copy_tper_vic2.AP6_12A2_1.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_12A2_1.value_counts()

1     10
2      3
99     2
3      1
Name: AP6_12A2_1, dtype: int64

In [44]:
df_copy_tper_vic2.AP6_12A2_2.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_12A2_2.value_counts()

1    1
Name: AP6_12A2_2, dtype: int64

In [45]:
df_copy_tper_vic2.AP6_12A2_3.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_12A2_3.value_counts()

1    1
Name: AP6_12A2_3, dtype: int64

In [46]:
df_copy_tper_vic2.AP6_12A2_4.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_12A2_4.value_counts()

Series([], Name: AP6_12A2_4, dtype: int64)

In [47]:
df_copy_tper_vic2.AP6_11_3.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_11_3.value_counts()

1    2
Name: AP6_11_3, dtype: int64

In [48]:
df_copy_tper_vic2.AP6_12_3.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_12_3.value_counts()

1    2
Name: AP6_12_3, dtype: int64

In [49]:
df_copy_tper_vic2.AP6_11_4.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_11_4.value_counts()

1    1
Name: AP6_11_4, dtype: int64

In [50]:
df_copy_tper_vic2.AP6_11_5.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_11_5.value_counts()

Series([], Name: AP6_11_5, dtype: int64)

In [51]:
df_copy_tper_vic2.AP6_11_6.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_11_6.value_counts()

Series([], Name: AP6_11_6, dtype: int64)

In [52]:
df_copy_tper_vic2.AP6_12_4.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_12_4.value_counts()

1    1
Name: AP6_12_4, dtype: int64

In [53]:
df_copy_tper_vic2.AP6_12_5.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_12_5.value_counts()

Series([], Name: AP6_12_5, dtype: int64)

In [54]:
df_copy_tper_vic2.AP6_12_6.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_12_6.value_counts()

Series([], Name: AP6_12_6, dtype: int64)

In [55]:
df_copy_tper_vic2.AP6_12A3_1.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_12A3_1.value_counts()

99    1
1     1
Name: AP6_12A3_1, dtype: int64

In [56]:
df_copy_tper_vic2.AP6_12A3_2.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_12A3_2.value_counts()

Series([], Name: AP6_12A3_2, dtype: int64)

In [57]:
df_copy_tper_vic2.AP6_12A3_3.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_12A3_3.value_counts()

Series([], Name: AP6_12A3_3, dtype: int64)

In [58]:
df_copy_tper_vic2.AP6_12A3_4.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_12A3_4.value_counts()

Series([], Name: AP6_12A3_4, dtype: int64)

In [59]:
df_copy_tper_vic2.AP6_12A4_1.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_12A4_1.value_counts()

9    1
Name: AP6_12A4_1, dtype: int64

In [60]:
df_copy_tper_vic2.AP6_12A4_2.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_12A4_2.value_counts()

Series([], Name: AP6_12A4_2, dtype: int64)

In [61]:
df_copy_tper_vic2.AP6_12A4_3.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_12A4_3.value_counts()

Series([], Name: AP6_12A4_3, dtype: int64)

In [62]:
df_copy_tper_vic2.AP6_12A4_4.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_12A4_4.value_counts()

Series([], Name: AP6_12A4_4, dtype: int64)

In [63]:
df_copy_tper_vic2.AP6_12A5_1.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_12A5_1.value_counts()

Series([], Name: AP6_12A5_1, dtype: int64)

In [64]:
df_copy_tper_vic2.AP6_12A5_2.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_12A5_2.value_counts()

Series([], Name: AP6_12A5_2, dtype: int64)

In [65]:
df_copy_tper_vic2.AP6_12A5_3.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_12A5_3.value_counts()

Series([], Name: AP6_12A5_3, dtype: int64)

In [66]:
df_copy_tper_vic2.AP6_12A5_4.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_12A5_4.value_counts()

Series([], Name: AP6_12A5_4, dtype: int64)

In [67]:
df_copy_tper_vic2.AP6_12A6_1.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_12A6_1.value_counts()

Series([], Name: AP6_12A6_1, dtype: int64)

In [68]:
df_copy_tper_vic2.AP6_12A6_2.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_12A6_2.value_counts()

Series([], Name: AP6_12A6_2, dtype: int64)

In [69]:
df_copy_tper_vic2.AP6_12A6_3.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_12A6_3.value_counts()

Series([], Name: AP6_12A6_3, dtype: int64)

In [70]:
df_copy_tper_vic2.AP6_12A6_4.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_12A6_4.value_counts()

Series([], Name: AP6_12A6_4, dtype: int64)

In [71]:
df_copy_tper_vic2.AP6_13.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_13.value_counts()

2     84144
1       445
99       40
Name: AP6_13, dtype: int64

In [72]:
df_copy_tper_vic2.AP6_14_1.replace(dicc, inplace = True)
df_copy_tper_vic2.AP6_14_1.value_counts()

2     84443
1       155
99       31
Name: AP6_14_1, dtype: int64

In [73]:
df_copy_tper_vic2.AP6_14_2.replace(dicc, inplace = True)
df_copy_tper_vic2.AP6_14_2.value_counts()

1.0    138
2.0     16
3.0      1
Name: AP6_14_2, dtype: int64

In [74]:
df_copy_tper_vic2.AP6_15_1.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_15_1.value_counts()

1    128
2     27
Name: AP6_15_1, dtype: int64

In [75]:
df_copy_tper_vic2.AP6_15_2.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_15_2.value_counts()

2    9
1    8
Name: AP6_15_2, dtype: int64

In [76]:
df_copy_tper_vic2.AP6_15_3.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_15_3.value_counts()

2    1
Name: AP6_15_3, dtype: int64

In [77]:
df_copy_tper_vic2.AP6_15_4.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_15_4.value_counts()

Series([], Name: AP6_15_4, dtype: int64)

In [78]:
df_copy_tper_vic2.AP6_15_5.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_15_5.value_counts()

Series([], Name: AP6_15_5, dtype: int64)

In [79]:
df_copy_tper_vic2.AP6_15_6.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_15_6.value_counts()

Series([], Name: AP6_15_6, dtype: int64)

In [80]:
df_copy_tper_vic2.AP6_16_1.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_16_1.value_counts()

1    112
3     10
2      6
Name: AP6_16_1, dtype: int64

In [81]:
df_copy_tper_vic2.AP6_16_2.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_16_2.value_counts()

1    7
2    1
Name: AP6_16_2, dtype: int64

In [82]:
df_copy_tper_vic2.AP6_16_3.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_16_3.value_counts()

Series([], Name: AP6_16_3, dtype: int64)

In [83]:
df_copy_tper_vic2.AP6_16_4.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_16_4.value_counts()

Series([], Name: AP6_16_4, dtype: int64)

In [84]:
df_copy_tper_vic2.AP6_16_5.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_16_5.value_counts()

Series([], Name: AP6_16_5, dtype: int64)

In [85]:
df_copy_tper_vic2.AP6_16_6.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_16_6.value_counts()

Series([], Name: AP6_16_6, dtype: int64)

In [86]:
df_copy_tper_vic2.AP6_17_1.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_17_1.value_counts()

1    22
Name: AP6_17_1, dtype: int64

In [87]:
df_copy_tper_vic2.AP6_17_2.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_17_2.value_counts()

1    1
Name: AP6_17_2, dtype: int64

In [88]:
df_copy_tper_vic2.AP6_17_3.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_17_3.value_counts()

Series([], Name: AP6_17_3, dtype: int64)

In [89]:
df_copy_tper_vic2.AP6_17_4.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_17_4.value_counts()

Series([], Name: AP6_17_4, dtype: int64)

In [90]:
df_copy_tper_vic2.AP6_17_5.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_17_5.value_counts()

Series([], Name: AP6_17_5, dtype: int64)

In [91]:
df_copy_tper_vic2.AP6_17_6.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_17_6.value_counts()

Series([], Name: AP6_17_6, dtype: int64)

In [92]:
df_copy_tper_vic2.AP6_18.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_18.value_counts()

2     83964
1       600
99       65
Name: AP6_18, dtype: int64

In [93]:
df_copy_tper_vic2.AP6_19_1.replace(dicc, inplace = True)
df_copy_tper_vic2.AP6_19_1.value_counts()

2     84470
1       119
99       40
Name: AP6_19_1, dtype: int64

In [94]:
df_copy_tper_vic2.AP6_19_2.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_19_2.value_counts()

1    109
2      9
5      1
Name: AP6_19_2, dtype: int64

In [95]:
df_copy_tper_vic2.AP6_20_1.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_20_1.value_counts()

1    76
2    43
Name: AP6_20_1, dtype: int64

In [96]:
df_copy_tper_vic2.AP6_20_2.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_20_2.value_counts()

2    7
1    3
Name: AP6_20_2, dtype: int64

In [97]:
df_copy_tper_vic2.AP6_20_3.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_20_3.value_counts()

1    1
Name: AP6_20_3, dtype: int64

In [98]:
df_copy_tper_vic2.AP6_20_4.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_20_4.value_counts()

1    1
Name: AP6_20_4, dtype: int64

In [99]:
df_copy_tper_vic2.AP6_20_5.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_20_5.value_counts()

1    1
Name: AP6_20_5, dtype: int64

In [100]:
df_copy_tper_vic2.AP6_20_6.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_20_6.value_counts()

Series([], Name: AP6_20_6, dtype: int64)

In [101]:
df_copy_tper_vic2.AP6_21_1.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_21_1.value_counts()

1    10
2     1
Name: AP6_21_1, dtype: int64

In [102]:
df_copy_tper_vic2.AP6_21_2.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_21_2.value_counts()

Series([], Name: AP6_21_2, dtype: int64)

In [103]:
df_copy_tper_vic2.AP6_21_3.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_21_3.value_counts()

Series([], Name: AP6_21_3, dtype: int64)

In [104]:
df_copy_tper_vic2.AP6_21_4.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_21_4.value_counts()

Series([], Name: AP6_21_4, dtype: int64)

In [105]:
df_copy_tper_vic2.AP6_21_5.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_21_5.value_counts()

Series([], Name: AP6_21_5, dtype: int64)

In [106]:
df_copy_tper_vic2.AP6_21_6.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP6_21_6.value_counts()

Series([], Name: AP6_21_6, dtype: int64)

In [107]:
df_copy_tper_vic2.AP7_1.replace(dicc, inplace = True)
df_copy_tper_vic2.AP7_1.value_counts()

2     72661
1     11912
99       56
Name: AP7_1, dtype: int64

In [108]:
df_copy_tper_vic2.AP7_2.replace(dicc, inplace = True)
df_copy_tper_vic2.AP7_2.value_counts()

2     80363
1      4200
99       66
Name: AP7_2, dtype: int64

In [109]:
df_copy_tper_vic2.AP7_3_05.replace(dicc, inplace = True)
df_copy_tper_vic2.AP7_3_05.value_counts()

2     80433
1      4178
99       18
Name: AP7_3_05, dtype: int64

In [110]:
df_copy_tper_vic2.AP7_3_06.replace(dicc, inplace = True)
df_copy_tper_vic2.AP7_3_06.value_counts()

2     83387
1      1213
99       29
Name: AP7_3_06, dtype: int64

In [111]:
df_copy_tper_vic2.AP7_3_07.replace(dicc, inplace = True)
df_copy_tper_vic2.AP7_3_07.value_counts()

2     83433
1      1110
99       86
Name: AP7_3_07, dtype: int64

In [112]:
df_copy_tper_vic2.AP7_3_08.replace(dicc, inplace = True)
df_copy_tper_vic2.AP7_3_08.value_counts()

2     83210
1      1394
99       25
Name: AP7_3_08, dtype: int64

In [113]:
df_copy_tper_vic2.AP7_3_09.replace(dicc, inplace = True)
df_copy_tper_vic2.AP7_3_09.value_counts()

2     80076
1      4514
99       39
Name: AP7_3_09, dtype: int64

In [114]:
df_copy_tper_vic2.AP7_3_10.replace(dicc, inplace = True)
df_copy_tper_vic2.AP7_3_10.value_counts()

2     82443
1      2121
99       65
Name: AP7_3_10, dtype: int64

In [115]:
df_copy_tper_vic2.AP7_3_11.replace(dicc, inplace = True)
df_copy_tper_vic2.AP7_3_11.value_counts()

2     83866
1       743
99       20
Name: AP7_3_11, dtype: int64

In [116]:
df_copy_tper_vic2.AP7_3_12.replace(dicc, inplace = True)
df_copy_tper_vic2.AP7_3_12.value_counts()

2     84532
1        73
99       24
Name: AP7_3_12, dtype: int64

In [117]:
df_copy_tper_vic2.AP7_3_13.replace(dicc, inplace = True)
df_copy_tper_vic2.AP7_3_13.value_counts()

2     84222
1       379
99       28
Name: AP7_3_13, dtype: int64

In [118]:
df_copy_tper_vic2.AP7_3_14.replace(dicc, inplace = True)
df_copy_tper_vic2.AP7_3_14.value_counts()

2     84522
1        61
99       46
Name: AP7_3_14, dtype: int64

In [119]:
df_copy_tper_vic2.AP7_3_15.replace(dicc, inplace = True)
df_copy_tper_vic2.AP7_3_15.value_counts()

2     84484
1       103
99       42
Name: AP7_3_15, dtype: int64

In [120]:
df_copy_tper_vic2.AP7_4_05.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP7_4_05.value_counts()

1     3278
2      659
3      169
4       39
5       21
6        6
7        2
8        2
10       1
12       1
Name: AP7_4_05, dtype: int64

In [121]:
df_copy_tper_vic2.AP7_4_06.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP7_4_06.value_counts()

1    1039
2     127
3      34
4       5
5       4
6       3
8       1
Name: AP7_4_06, dtype: int64

In [122]:
df_copy_tper_vic2.AP7_4_07.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP7_4_07.value_counts()

1    953
2    132
3     20
4      2
5      2
7      1
Name: AP7_4_07, dtype: int64

In [123]:
df_copy_tper_vic2.AP7_4_08.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP7_4_08.value_counts()

1    1229
2     138
3      22
5       3
4       2
Name: AP7_4_08, dtype: int64

In [124]:
df_copy_tper_vic2.AP7_4_09.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP7_4_09.value_counts()

1     3324
2      753
3      290
4       62
5       52
6       11
10       5
7        4
8        3
15       3
30       2
12       2
20       2
25       1
Name: AP7_4_09, dtype: int64

In [125]:
df_copy_tper_vic2.AP7_4_10.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP7_4_10.value_counts()

1     1586
2      317
3      138
5       36
4       26
10       5
6        3
7        2
8        2
30       2
20       2
15       1
12       1
Name: AP7_4_10, dtype: int64

In [126]:
df_copy_tper_vic2.AP7_4_11.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP7_4_11.value_counts()

1     633
2      69
3      26
5       7
4       5
10      1
6       1
15      1
Name: AP7_4_11, dtype: int64

In [127]:
df_copy_tper_vic2.AP7_4_12.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP7_4_12.value_counts()

1    70
2     3
Name: AP7_4_12, dtype: int64

In [128]:
df_copy_tper_vic2.AP7_4_13.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP7_4_13.value_counts()

1     264
2      67
3      30
5       9
10      5
4       3
8       1
Name: AP7_4_13, dtype: int64

In [129]:
df_copy_tper_vic2.AP7_4_14.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP7_4_14.value_counts()

1    47
2    10
3     2
7     1
4     1
Name: AP7_4_14, dtype: int64

In [130]:
df_copy_tper_vic2.AP7_4_15.replace(diccDec, inplace = True)
df_copy_tper_vic2.AP7_4_15.value_counts()

1     93
2      6
3      2
10     1
4      1
Name: AP7_4_15, dtype: int64

In [131]:
df_copy_tper_vic2.FAC_HOG.value_counts()

190     508
187     421
180     406
192     387
178     381
199     379
188     374
171     366
183     365
205     363
198     363
196     359
173     356
202     354
179     354
218     328
64      328
201     325
189     317
191     315
194     315
176     314
184     309
170     297
185     297
193     296
169     296
208     293
172     288
319     287
       ...
1604      3
939       3
1796      3
1528      3
844       3
574       3
1447      3
1051      3
1201      3
712       3
2007      3
1789      3
1520      3
987       2
2160      2
1954      2
1617      2
1784      2
684       2
2045      2
2673      2
1086      2
2134      2
1402      2
1759      2
1973      2
1232      1
1914      1
2187      1
1272      1
Name: FAC_HOG, Length: 1454, dtype: int64

In [132]:
df_copy_tper_vic2.FAC_HOG_AM.value_counts()

178.0     207
186.0     171
185.0     167
203.0     151
172.0     149
192.0     146
197.0     141
187.0     138
208.0     136
214.0     136
181.0     135
198.0     133
188.0     129
199.0     127
211.0     126
176.0     126
180.0     126
191.0     122
204.0     120
200.0     118
173.0     116
195.0     113
193.0     113
169.0     113
190.0     113
207.0     112
67.0      112
212.0     111
182.0     109
206.0     109
         ...
746.0       3
1541.0      3
1042.0      3
692.0       3
803.0       3
1375.0      3
911.0       3
1922.0      3
2046.0      2
2675.0      2
1094.0      2
1300.0      2
1074.0      2
1616.0      2
1999.0      2
884.0       2
2137.0      2
1956.0      2
665.0       2
2164.0      2
1789.0      2
687.0       2
1968.0      2
1058.0      2
989.0       2
45.0        2
1915.0      1
2188.0      1
763.0       1
1204.0      1
Name: FAC_HOG_AM, Length: 1386, dtype: int64

In [133]:
df_copy_tper_vic2.FAC_ELE.value_counts()

380     266
360     254
374     248
376     234
392     223
342     221
356     214
366     214
384     211
378     211
396     204
436     202
368     200
404     198
364     197
410     196
450     196
344     196
336     196
370     194
388     190
672     188
624     187
346     186
340     186
402     185
372     183
354     182
612     182
358     180
       ...
7704      1
3610      1
2677      1
4300      1
6775      1
1627      1
2933      1
4172      1
3738      1
3174      1
3788      1
3724      1
8088      1
3110      1
8280      1
7140      1
3189      1
7076      1
4318      1
8472      1
3445      1
6990      1
6495      1
2726      1
3829      1
4773      1
6820      1
4623      1
3957      1
2049      1
Name: FAC_ELE, Length: 3869, dtype: int64

In [134]:
df_copy_tper_vic2.FAC_ELE_AM.value_counts()

356.0     115
372.0     107
408.0     102
360.0     102
370.0      87
384.0      85
396.0      85
344.0      76
362.0      74
398.0      74
394.0      71
336.0      71
406.0      71
424.0      70
416.0      69
342.0      68
768.0      68
414.0      67
422.0      67
352.0      67
392.0      67
780.0      66
374.0      66
386.0      66
420.0      65
744.0      65
364.0      65
172.0      65
134.0      65
412.0      64
         ...
1108.0      1
7880.0      1
3286.0      1
2305.0      1
2840.0      1
4611.0      1
2301.0      1
6380.0      1
6040.0      1
3451.0      1
1641.0      1
3815.0      1
5088.0      1
2354.0      1
5800.0      1
3955.0      1
4563.0      1
2031.0      1
4782.0      1
9210.0      1
5466.0      1
3004.0      1
7464.0      1
2805.0      1
2535.0      1
2246.0      1
7550.0      1
4575.0      1
857.0       1
2875.0      1
Name: FAC_ELE_AM, Length: 3506, dtype: int64

In [135]:
df_copy_tper_vic2.DOM.value_counts()

U    40010
C    22903
R    21716
Name: DOM, dtype: int64

In [136]:
df_copy_tper_vic2.EST.value_counts()

46     1752
108    1248
104    1236
140    1210
218    1153
165    1097
80     1083
212    1082
193    1005
85      991
38      975
205     925
136     902
147     897
195     883
57      865
16      859
120     852
61      835
148     835
41      818
13      810
216     772
60      739
86      736
117     735
176     733
97      721
12      720
56      719
       ...
2        73
124      71
48       68
132      68
133      68
150      63
9        58
168      54
51       53
170      52
99       48
33       46
204      46
208      39
228      37
59       36
103      31
188      29
142      24
27       21
66       20
134      18
145      18
74       17
220      15
84       11
11        9
95        9
180       8
112       6
Name: EST, Length: 238, dtype: int64

In [137]:
df_copy_tper_vic2.UPM.value_counts()

7517     42
4537     40
4565     40
7548     40
4606     39
7505     39
4545     39
4554     39
7509     38
10749    38
7469     38
9383     38
7503     38
4598     38
4559     38
5775     38
4585     37
10700    37
7493     37
3792     37
4546     37
4605     37
7153     36
10072    36
4602     36
10081    36
9662     36
7149     36
4613     36
744      35
         ..
7255      1
7299      1
11145     1
9022      1
1173      1
9753      1
4240      1
3231      1
9832      1
1534      1
11092     1
10569     1
11040     1
9943      1
10863     1
1419      1
6613      1
6508      1
1602      1
9137      1
1114      1
4251      1
6543      1
2471      1
8063      1
6533      1
1530      1
6048      1
1750      1
9827      1
Name: UPM, Length: 11408, dtype: int64

In [138]:
df_copy_tper_vic2.head()

,CONTROL,VIV_SEL,HOGAR,RESUL_H,R_SEL,AREAM,AP6_1_1,AP6_1_2,AP6_2,AP6_3,...,AP7_4_14,AP7_3_15,AP7_4_15,FAC_HOG,FAC_ELE,DOM,EST,UPM,FAC_HOG_AM,FAC_ELE_AM
0,100001,1,1,B,1,14,2,NaN,2,2,...,NaN,2,NaN,191,382,U,5,1,192.0,384.0
1,100001,2,1,B,2,14,2,NaN,2,2,...,NaN,2,NaN,191,382,U,5,1,192.0,384.0
2,100001,3,1,B,1,14,1,1,1,2,...,NaN,2,NaN,191,764,U,5,1,192.0,768.0
3,100001,4,1,A,1,14,2,NaN,1,2,...,NaN,2,NaN,191,764,U,5,1,192.0,768.0
4,100001,5,1,B,3,14,1,1,2,2,...,NaN,2,NaN,191,573,U,5,1,192.0,576.0

In [139]:
df_copy_tper_vic2.RESUL_H.replace({'A':'1','B':'2'},inplace=True)
df_copy_tper_vic2.RESUL_H.value_counts()

2    61714
1    22915
Name: RESUL_H, dtype: int64

In [140]:
df_copy_tper_vic2.DOM.replace({'U':'1','C':'2','R':'3'},inplace=True)
df_copy_tper_vic2.DOM.value_counts()

1    40010
2    22903
3    21716
Name: DOM, dtype: int64

In [141]:
df_copy_tper_vic2.head()

,CONTROL,VIV_SEL,HOGAR,RESUL_H,R_SEL,AREAM,AP6_1_1,AP6_1_2,AP6_2,AP6_3,...,AP7_4_14,AP7_3_15,AP7_4_15,FAC_HOG,FAC_ELE,DOM,EST,UPM,FAC_HOG_AM,FAC_ELE_AM
0,100001,1,1,2,1,14,2,NaN,2,2,...,NaN,2,NaN,191,382,1,5,1,192.0,384.0
1,100001,2,1,2,2,14,2,NaN,2,2,...,NaN,2,NaN,191,382,1,5,1,192.0,384.0
2,100001,3,1,2,1,14,1,1,1,2,...,NaN,2,NaN,191,764,1,5,1,192.0,768.0
3,100001,4,1,1,1,14,2,NaN,1,2,...,NaN,2,NaN,191,764,1,5,1,192.0,768.0
4,100001,5,1,2,3,14,1,1,2,2,...,NaN,2,NaN,191,573,1,5,1,192.0,576.0

In [142]:
n = df_copy_tper_vic2.columns.values.tolist()

In [143]:
for i in n:
    l = [] 
    for j in df_copy_tper_vic2[i]:
        k = str(j)
        if(k != "nan"):
            k = int(eval(k))
            l.append(k)
        else:
            l.append("TTT")
    df_copy_tper_vic2[i] = l

In [144]:
df_copy_tper_vic2.head()

,CONTROL,VIV_SEL,HOGAR,RESUL_H,R_SEL,AREAM,AP6_1_1,AP6_1_2,AP6_2,AP6_3,...,AP7_4_14,AP7_3_15,AP7_4_15,FAC_HOG,FAC_ELE,DOM,EST,UPM,FAC_HOG_AM,FAC_ELE_AM
0,100001,1,1,2,1,14,2,TTT,2,2,...,TTT,2,TTT,191,382,1,5,1,192,384
1,100001,2,1,2,2,14,2,TTT,2,2,...,TTT,2,TTT,191,382,1,5,1,192,384
2,100001,3,1,2,1,14,1,1,1,2,...,TTT,2,TTT,191,764,1,5,1,192,768
3,100001,4,1,1,1,14,2,TTT,1,2,...,TTT,2,TTT,191,764,1,5,1,192,768
4,100001,5,1,2,3,14,1,1,2,2,...,TTT,2,TTT,191,573,1,5,1,192,576

In [145]:
df_copy_tper_vic2.shape

(84629, 128)

In [146]:
df_copy_tper_vic2.AP6_1_2.value_counts()

TTT    47819
1      28174
2       6862
3       1394
4        268
5         66
6         24
7          9
99         5
10         4
8          3
9          1
Name: AP6_1_2, dtype: int64

In [148]:
df_copy_tper_vic2.to_csv("TPer_vic2_Clean2014_2.csv")