In [1]:
import pandas as pd
import numpy as np

In [2]:
path = 'C:/Users/jorge/OneDrive/Escritorio/ProyectoJacobo/EnvipeLimpia/TPer_vic2_Clean2017.csv'
df = pd.read_csv(path, low_memory=False)
df.head()

,UPM,VIV_SEL,HOGAR,RESUL_H,R_SEL,SEXO,EDAD,AREAM,CVE_ENT,NOM_ENT,...,AP7_3_15,AP7_4_15,FAC_HOG,FAC_ELE,FAC_HOG_AM,FAC_ELE_AM,DOMINIO,ESTRATO,EST_DIS,UPM_DIS
0,100008,1,1,2,1,1,40,14,1,1,...,2,99,204,408,204,408,1,4,3,1
1,100008,2,1,2,2,2,70,14,1,1,...,2,99,204,611,204,611,1,4,3,1
2,100008,4,1,2,1,1,85,14,1,1,...,2,99,204,408,204,408,1,4,3,1
3,100008,5,1,1,1,1,28,14,1,1,...,2,99,204,408,204,408,1,4,3,1
4,100022,1,1,1,3,1,22,14,1,1,...,2,99,198,595,198,595,1,3,2,2

In [3]:
n = df.columns.values.tolist()
m = round(df.shape[0]*.50)
l = []
for i in n:
    if df[i].value_counts().get("TTT") != None:
        if m < df[i].value_counts().get("TTT"):
            l.append(i)
            df = df.drop(i, 1)

In [4]:
df.head()

,UPM,VIV_SEL,HOGAR,RESUL_H,R_SEL,SEXO,EDAD,AREAM,CVE_ENT,NOM_ENT,...,AP7_3_15,AP7_4_15,FAC_HOG,FAC_ELE,FAC_HOG_AM,FAC_ELE_AM,DOMINIO,ESTRATO,EST_DIS,UPM_DIS
0,100008,1,1,2,1,1,40,14,1,1,...,2,99,204,408,204,408,1,4,3,1
1,100008,2,1,2,2,2,70,14,1,1,...,2,99,204,611,204,611,1,4,3,1
2,100008,4,1,2,1,1,85,14,1,1,...,2,99,204,408,204,408,1,4,3,1
3,100008,5,1,1,1,1,28,14,1,1,...,2,99,204,408,204,408,1,4,3,1
4,100022,1,1,1,3,1,22,14,1,1,...,2,99,198,595,198,595,1,3,2,2

In [5]:
df.astype('int64')

,UPM,VIV_SEL,HOGAR,RESUL_H,R_SEL,SEXO,EDAD,AREAM,CVE_ENT,NOM_ENT,...,AP7_3_15,AP7_4_15,FAC_HOG,FAC_ELE,FAC_HOG_AM,FAC_ELE_AM,DOMINIO,ESTRATO,EST_DIS,UPM_DIS
0,100008,1,1,2,1,1,40,14,1,1,...,2,99,204,408,204,408,1,4,3,1
1,100008,2,1,2,2,2,70,14,1,1,...,2,99,204,611,204,611,1,4,3,1
2,100008,4,1,2,1,1,85,14,1,1,...,2,99,204,408,204,408,1,4,3,1
3,100008,5,1,1,1,1,28,14,1,1,...,2,99,204,408,204,408,1,4,3,1
4,100022,1,1,1,3,1,22,14,1,1,...,2,99,198,595,198,595,1,3,2,2
5,100022,2,1,1,1,1,34,14,1,1,...,2,99,198,397,198,397,1,3,2,2
6,100022,3,1,2,1,1,24,14,1,1,...,2,99,198,397,198,397,1,3,2,2
7,100022,5,1,1,3,1,34,14,1,1,...,2,99,198,793,198,793,1,3,2,2
8,100059,1,1,1,3,2,33,14,1,1,...,2,99,212,1059,212,1059,1,3,2,3
9,100059,2,1,2,1,1,25,14,1,1,...,2,99,212,423,212,423,1,3,2,3
10,100059,3,1,1,1,1,47,14,1,1,...,1,1,212,423,212,423,1,3,2,3
11,100059,4,1,2,2,1,62,14,1,1,...,2,99,212,423,212,423,1,3,2,3
12,100059,5,1,1,2,1,44,14,1,1,...,2,99,212,635,212,635,1,3,2,3
13,100079,1,1,1,4,1,23,14,1,1,...,2,99,184,737,184,737,1,2,1,4
14,100079,2,1,2,3,1,22,14,1,1,...,2,99,184,552,184,552,1,2,1,4
15,100079,3,1,1,1,1,56,14,1,1,...,2,99,184,552,184,552,1,2,1,4
16,100079,5,1,2,2,2,24,14,1,1,...,2,99,184,368,184,368,1,2,1,4
17,100079,5,2,2,3,2,74,99,1,1,...,2,99,184,552,99,99,1,2,1,4
18,100090,1,1,2,1,1,40,14,1,1,...,2,99,155,155,155,155,1,2,1,5
19,100090,1,2,2,1,1,53,99,1,1,...,2,99,155,155,99,99,1,2,1,5
20,100090,2,1,2,1,1,62,14,1,1,...,2,99,155,466,155,466,1,2,1,5
21,100090,3,2,2,1,2,65,99,1,1,...,2,99,310,310,99,99,1,2,1,5
22,100090,4,1,1,2,1,25,14,1,1,...,2,99,155,310,155,310,1,2,1,5
23,100090,5,1,2,1,1,46,14,1,1,...,2,99,155,310,155,310,1,2,1,5
24,100101,1,1,2,1,2,65,14,1,1,...,2,99,188,188,188,188,1,3,2,6
25,100101,2,1,1,3,2,29,14,1,1,...,2,99,188,564,188,564,1,3,2,6
26,100101,3,1,2,1,2,73,14,1,1,...,2,99,188,376,188,376,1,3,2,6
27,100101,3,2,1,1,1,37,99,1,1,...,2,99,188,376,99,99,1,3,2,6
28,100101,5,1,2,2,2,21,14,1,1,...,2,99,188,376,188,376,1,3,2,6
29,100103,1,1,2,2,2,39,14,1,1,...,2,99,130,261,130,261,1,2,1,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92521,3260774,12,1,1,1,1,42,99,32,33,...,2,99,204,408,99,99,3,2,598,13207
92522,3260774,13,1,2,1,2,73,99,32,33,...,2,99,204,408,99,99,3,2,598,13207
92523,3260774,14,1,2,2,2,31,99,32,33,...,2,99,204,408,99,99,3,2,598,13207
92524,3260774,15,1,2,1,2,35,99,32,33,...,2,99,204,408,99,99,3,2,598,13207
92525,3260774,16,1,2,1,2,83,99,32,33,...,2,99,204,408,99,99,3,2,598,13207
92526,3260774,17,1,2,2,2,20,99,32,33,...,2,99,204,408,99,99,3,2,598,13207
92527,3260774,18,1,2,1,1,18,99,32,33,...,2,99,204,204,99,99,3,2,598,13207
92528,3260774,19,1,2,2,2,41,99,32,33,...,2,99,204,408,99,99,3,2,598,13207
92529,3260774,20,1,2,1,1,57,99,32,33,...,2,99,204,408,99,99,3,2,598,13207
92530,3260801,1,1,2,1,1,68,99,32,33,...,2,99,214,643,99,99,3,2,598,13208
92531,3260801,2,1,2,1,1,39,99,32,33,...,2,99,214,429,99,99,3,2,598,13208
92532,3260801,3,1,2,1,2,84,99,32,33,...,2,99,214,214,99,99,3,2,598,13208
92533,3260801,4,1,2,1,1,37,99,32,33,...,2,99,214,429,99,99,3,2,598,13208
92534,3260801,5,1,2,1,1,35,99,32,33,...,2,99,214,429,99,99,3,2,598,13208
92535,3260801,5,2,2,1,1,44,99,32,33,...,2,99,214,643,99,99,3,2,598,13208
92536,3260801,6,1,2,1,1,86,99,32,33,...,2,99,214,429,99,99,3,2,598,13208
92537,3260801,7,1,2,1,1,70,99,32,33,...,2,99,214,214,99,99,3,2,598,13208
92538,3260801,8,1,2,2,2,42,99,32,33,...,2,99,214,643,99,99,3,2,598,13208
92539,3260801,9,1,2,2,2,28,99,32,33,...,2,99,214,429,99,99,3,2,598,13208
92540,3260801,10,1,2,1,2,44,99,32,33,...,2,99,214,214,99,99,3,2,598,13208
92541,3260801,11,1,2,1,1,48,99,32,33,...,2,99,214,214,99,99,3,2,598,13208
92542,3260801,12,1,2,3,1,68,99,32,33,...,2,99,214,643,99,99,3,2,598,13208
92543,3260801,13,1,1,1,1,69,99,32,33,...,2,99,214,214,99,99,3,2,598,13208
92544,3260801,14,1,2,2,2,59,99,32,33,...,2,99,214,429,99,99,3,2,598,13208
92545,3260801,15,1,2,1,1,56,99,32,33,...,2,99,214,429,99,99,3,2,598,13208
92546,3260801,16,1,2,2,1,51,99,32,33,...,2,99,214,643,99,99,3,2,598,13208
92547,3260801,17,1,2,2,2,67,99,32,33,...,2,99,214,429,99,99,3,2,598,13208
92548,3260801,18,1,2,1,1,82,99,32,33,...,2,99,214,429,99,99,3,2,598,13208
92549,3260801,19,1,2,1,1,86,99,32,33,...,2,99,214,429,99,99,3,2,598,13208
92550,3260801,20,1,2,1,2,53,99,32,33,...,2,99,214,214,99,99,3,2,598,13208

In [6]:
n = df.columns.values.tolist()
m = round(df.shape[0]*.50)
l = []
for i in n:
    if df[i].value_counts().get(99) != None:
        if m < df[i].value_counts().get(99):
            l.append(i)
            df = df.drop(i, 1)

In [7]:
df.head()

,UPM,VIV_SEL,HOGAR,RESUL_H,R_SEL,SEXO,EDAD,CVE_ENT,NOM_ENT,CVE_MUN,...,AP7_3_12,AP7_3_13,AP7_3_14,AP7_3_15,FAC_HOG,FAC_ELE,DOMINIO,ESTRATO,EST_DIS,UPM_DIS
0,100008,1,1,2,1,1,40,1,1,1,...,2,2,2,2,204,408,1,4,3,1
1,100008,2,1,2,2,2,70,1,1,1,...,2,2,2,2,204,611,1,4,3,1
2,100008,4,1,2,1,1,85,1,1,1,...,2,2,2,2,204,408,1,4,3,1
3,100008,5,1,1,1,1,28,1,1,1,...,2,2,2,2,204,408,1,4,3,1
4,100022,1,1,1,3,1,22,1,1,1,...,2,2,2,2,198,595,1,3,2,2

In [8]:
n = df.columns.values.tolist()
for i in n:
    if df[i].value_counts().get("TTT") != None:
        if df[i].mode().tolist()[0] == 'TTT':
            m = df.drop(df[(df[i] == 'TTT')].index)
            m= m[i].mode().tolist()
            df[i].replace({'TTT':m[0]}, inplace=True)
        else:
            df[i].replace({'TTT':df[i].mode().tolist()[0]}, inplace=True)
df.head()

,UPM,VIV_SEL,HOGAR,RESUL_H,R_SEL,SEXO,EDAD,CVE_ENT,NOM_ENT,CVE_MUN,...,AP7_3_12,AP7_3_13,AP7_3_14,AP7_3_15,FAC_HOG,FAC_ELE,DOMINIO,ESTRATO,EST_DIS,UPM_DIS
0,100008,1,1,2,1,1,40,1,1,1,...,2,2,2,2,204,408,1,4,3,1
1,100008,2,1,2,2,2,70,1,1,1,...,2,2,2,2,204,611,1,4,3,1
2,100008,4,1,2,1,1,85,1,1,1,...,2,2,2,2,204,408,1,4,3,1
3,100008,5,1,1,1,1,28,1,1,1,...,2,2,2,2,204,408,1,4,3,1
4,100022,1,1,1,3,1,22,1,1,1,...,2,2,2,2,198,595,1,3,2,2

In [9]:
n = df.columns.values.tolist()
for i in n:
    if df[i].value_counts().get(99) != None:
        if df[i].value_counts().get(9) == None:
            df[i].replace({99 : 9},inplace = True)
df.head()

,UPM,VIV_SEL,HOGAR,RESUL_H,R_SEL,SEXO,EDAD,CVE_ENT,NOM_ENT,CVE_MUN,...,AP7_3_12,AP7_3_13,AP7_3_14,AP7_3_15,FAC_HOG,FAC_ELE,DOMINIO,ESTRATO,EST_DIS,UPM_DIS
0,100008,1,1,2,1,1,40,1,1,1,...,2,2,2,2,204,408,1,4,3,1
1,100008,2,1,2,2,2,70,1,1,1,...,2,2,2,2,204,611,1,4,3,1
2,100008,4,1,2,1,1,85,1,1,1,...,2,2,2,2,204,408,1,4,3,1
3,100008,5,1,1,1,1,28,1,1,1,...,2,2,2,2,204,408,1,4,3,1
4,100022,1,1,1,3,1,22,1,1,1,...,2,2,2,2,198,595,1,3,2,2

In [10]:
df.to_csv("TPer_vic2_Clean2017_V3.csv")